[2020-02-17 21:13] geekifier opened #43 "Support the selector option in the k8s module when applying service definitions"
##### SUMMARY

This is a copy of the following GH issue: https://github.com/ansible/ansible/issues/67316.

The k8s module should support specifying selectors when applying resource definitions, similar to how `kubectl` supports it.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
k8s module

##### ADDITIONAL INFORMATION

Some commonly used projects, such as Knative, require you to apply the

[2020-04-22 18:32] stmarier opened #42 "k8s module: --diff-mode support only half works with multi-resource manifests"
##### SUMMARY
We have a kustomize lookup plugin that renders a kustomize directory structure into a resource_definition for the k8s module.  We are observing that when the k8s module manages multiple resources, `--diff` does not display inline diffs.

The same process returns inline diffs when the resource_definition is only a single resource.

After spending a bunch of time with this I have a fix

[2020-05-02 12:59] elafontaine opened #41 "K8s module doesn't use context namespace which oblige complexity in code"
https://github.com/ansible/ansible/issues/51242#issuecomment-546444097
https://github.com/ansible/ansible/issues/69193
##### SUMMARY
`kubectl` and `oc` are assuming a default namespace on resources for which you do not define a "metadata.namespace" attribute.  This is the default behaviour of `kubectl` as it use the one defined in the configuration of a context required to authenticate to the kube

[2020-05-11 08:57] bmillemathias opened #40 "impersonation support using become in k8s"
##### SUMMARY
I'm only using Openshift and never used k8s
One of the nifty feature is to be able to impersonate users so I can do tasks as my personal user to work which have extended privileges (but not admin) and for some tasks I can use oc --as system:admin to perform some as cluster-admin role.

This is not exposed in the k8s module, which could be helpful, expose as a `become` keyword

#####

[2020-07-16 22:11] christianh814 opened #39 "Support for kustomize in the k8s module."
##### SUMMARY

I would like to use kustomize with the `k8s` module. This will allow someone to be able to supply a directory or URI with a `kustomize.yaml` file in it.

This should emulate what `kubectl -k /path/to/dir` does (as close as possible).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Ideally, I would like to have this as part of the `k8s` module. But wouldn't mind having a sepa

[2020-07-21 17:30] wkulhanek opened #37 "Multi-patch and Remove don't seem to be available in k8s module."
##### SUMMARY
There does not seem to be a way in k8s to do either multi-patch of a resource or deletion of something in a resource. E.g.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
All

As requested by @fabianvf

[2020-08-06 21:38] alaypatel07 opened #35 "support generateName or utils like that"
##### SUMMARY

In order to make sure that resources created by k8s module has unique
name, there is some work involded to be done in ansible. kubernetes
api-server has a `metadata.generateName` field which can be used
to create a name that is within the limits of max chars allowed for the
resource. It would be great if the k8s module allows creation of
resources with generateName so the user does

[2020-08-07 22:42] tima opened #34 "Migration to kubernetes-client/python Meta-issue"
This meta-issue is part of the execution of the [proposal to establish a separate collection for OpenShift (OKD) Content](#175 ).

The Ansible k8s_* modules and other plugins use the  [openshift-restclient-python library](https://github.com/openshift/openshift-restclient-python) dynamic API client. While this library covers both native K8s functionality in addition to OpenShift specific extensions

[2020-08-21 20:36] jdnrg opened #33 "helm uninstall does not support `--wait`"
##### SUMMARY

The wait on absent is returning too fast,

"Error: failed to create resource: configmaps \"env-cm\" is forbidden: unable to create new content in namespace qa-ccc because it is being terminated"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
helm

##### STEPS TO REPRODUCE
[code]

[2020-09-02 23:59] tima opened #32 "Moving this content to kubernetes.core (v2.0)"
Red Hat Ansible is looking to continue furthering this content collection for downstream applications and packaging. Continuing with the "community" prefix will be confusing and communicate and different status. To address this, this repo will be transferred to a new repo named kubernetes.core. The community.kubernetes collection/repo will remain, but all future development and activity will shift

[2020-09-08 18:28] tima opened #31 "How is the k8s inventory plugin being used?"
In ansible-collections/community.kubernetes#217, @fabianvf made some modifications to the k8s inventory plugin that we believe improve its overall operation, cuts down on the "noise" and just makes more sense. This begs the question -- how is this plugin being used? Does this refactoring make sense? What is the impact, if any, of the changes? Are there other improvements to be made to help users?

[2020-10-01 06:54] gaborho opened #30 "Helm Post Rendering support"
##### SUMMARY
Helm Post Rendering support

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.kubernetes.helm

##### ADDITIONAL INFORMATION
Post rendering gives chart installers the ability to manually manipulate, configure, and/or validate rendered manifests before they are installed by Helm. It would be great to support this in the helm module. Use case would be to hand over a post

[2020-10-12 16:34] cynthia-rempel opened #2 "I'd like to help out with writing tests. Is there a specific area that tests would be wanted/needed?"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

[2020-10-12 17:08] geerlingguy commented on #2
We're not currently using this repository for maintenance, so for now I'm closing this issue (please see `community.kubernetes` instead).

[2020-10-12 17:08] #2 closed

[2020-10-13 23:40] cynthia-rempel commented on #2
Followed the directions, and was told there wasn't a need.  I feel like my help isn't wanted.

[2020-10-14 02:42] geerlingguy commented on #2
@cynthia-rempel - Please see my reply in the other issue :)

[2020-11-05 09:59] stanislaw55 opened #29 "Module for creating Job from CronJob"
##### SUMMARY

It may be very specific use case but I need to create Job using CronJob object. Right now, I have to resort to `command` module in order to do that:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

k8s_job

##### ADDITIONAL INFORMATION

One use case would be to test CronJobs that are running very seldom. Other use case may that: there's already defined but complicated

[2020-12-03 16:52] jmazzitelli opened #28 "failure in k8s task when using a definition list should have better error message"
##### SUMMARY

Use a list in k8s definition list:
[code]

If there is a syntax error in one of the templates (or simply that a resource in the list fails to be created), the error message that k8s spits out doesn't tell you WHICH item in the list fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
2.9

##### STEPS TO REPRODUCE
See above.

##### EXPECTED RESULTS
A

[2020-12-08 16:00] tashoyan opened #27 "Create ConfigMap from a directory containing configuration files"
##### SUMMARY

Our application has all configuration files in a directory `conf`. When deploying to Kubernetes, we used to create a ConfigMap from the entire directory:
[code]
With Ansible k8s module it is impossible for now. It is especially bad, because now we deploy applications from a Docker container running in a Jenkins pipeline. This Docker container has Ansible inside, but it is not suppos

[2021-01-07 16:28] uda opened #26 "Add context argument to k8s_cluster_info module"
##### SUMMARY
Add context argument to the `k8s_cluster_info` module so I can get the relevant cluster's info (like version)

Currently this module only gives me the option to get the info of the default context.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/modules/k8s_cluster_info.py

##### ADDITIONAL INFORMATION
[code]

[2021-01-14 17:15] sreese4u opened #24 "urllib3.exceptions.ProtocolError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')) with k8s module"
##### SUMMARY
Getting the following exception when using k8s module in Ansible Versions 2.9.13 and 2.10.4.

[code]

The task looks like this.

[code]
If I remove the `tls` part of this task it works again. If I add `|-` behind `certificate:`, `key:` and `caCertificate:` then it works as well but OpenShift does not accept the configuration.

This is what I mean, when I say OpenShift does not accept

[2021-01-23 17:42] aneurinprice opened #23 "Unexpected CronJob behavior. Fails to create CronJob"
##### SUMMARY
Attempting to create a cronjob with kind `CronJob` and apiVersion `batch/v1beta1` yields `"Failed to find exact match for v1.CronJob by [kind, name, singularName, shortNames]"`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A c

[2021-01-27 15:28] dojones1 opened #22 "helm module should support the equivalent of the command line --history-max flag"
##### SUMMARY
HELM module should allow equivalent configuration of the --history-max field.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.kubernetes.helm

##### ADDITIONAL INFORMATION
When the helm module is invoked to trigger an upgrade it results in additional secrets being created up to the default maximum (10) of the form: sh.helm.release.v1.<release>.v<deployment#>.

This r

[2021-01-28 10:34] oshoval opened #21 "Unable to patch node status in order to create extended resources"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s (k8s_raw)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

k8s v1.17.0

##### STEPS TO REPRODUCE

Trying to create extended resources with ansible.
Ansible playbook finishes successfully, but nothing actually happens.
I believe its related to
https://github.com/kubernetes/kubernetes/issues/6

[2021-02-05 11:16] ecksun opened #20 "Secret keys are printed on error"
##### SUMMARY
When I run `helm` and get a hook error it prints a secret (which I expect to be hidden)

Since I'm running ansible-playbook as part of a jenkins job I have to hide the output (`no_log: True`).

My chart does not have a secret in it, it only references one (deployed manually via another ansible task)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.helm

####

[2021-02-15 22:52] tima opened #19 "Implement "loop flattening" in `k8s`"
##### SUMMARY

Using a loop to process a batch of file means a fork and API call is made for each item in the loop. This adds a substantial amount of overhead to process each file that could be avoided if the list of files are "flattened" and submitted with one API call. The proposal here is to build this "flattening" logic into the `k8s` module itself where optimal handling of a batch of files is

[2021-03-05 03:46] jmontleon opened #17 "apis being overwritten in cluster_info"
##### SUMMARY
When I do this I seem to get one API per group:
[code]

I changed this: line
https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/k8s_cluster_info.py#L209
to this and I get the full list of APIs:
`results[resource.kind + "." + resource.group] = {`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_cluster_info

##### ANSIBLE VERSION
[code]

####

[2021-03-11 10:02] c0desurfer opened #16 "not possible to replace/update objects via "apply: yes" or "force: yes" in OpenShift 3.11"
##### SUMMARY
There are actually 2 problems we face. The first one is that large definitions are not updated at all when `apply: yes` is used. We have a file with CRD definition that has over 7500 lines. Ansible does not show any errors and it looks like the the update was made. However after inspecting the CRD on the server you can see that no update took place. You can use the Kafka CRD from the

[2021-03-15 15:17] tima opened #15 "Document and test breaking change in k8s_cluster_info and provide porting guidance"
##### SUMMARY

The PR ansible-collections/community.kubernetes#389 introduces a breaking change to address the problems introduced in issue ansible-collections/community.kubernetes#380. This needs to be called out in the documentation. Further, [as noted here](https://github.com/ansible-collections/community.kubernetes/pull/389#issuecomment-799404473), current testing of this module is inadequate

[2021-03-16 09:19] Chup4Chups opened #14 "Playbook not fetching connection parameters from k8s.yml inventory file"
##### SUMMARY
Use of k8s inventory plugin with playbook is not fetching connection parameters.
The play is looking for kubeconfig whereas host + api_key are specified in the connection from k8s.yaml

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.k8s – Kubernetes (K8s) inventory source
- https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_invento

[2021-03-19 15:41] hguerrero opened #13 "wait is not honored if resources does not exist yet"
##### SUMMARY

When using the `k8s_info` module with `wait: yes`, if the first query returns no results, the task ends without honoring the wait block. If the resource exists, then it blocks as expected until the `wait_condition` is met.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Big Sur

[2021-03-24 23:19] nergalex opened #12 "playbook in error when using openshift lib 0.12"
##### SUMMARY
Error encounter when using openshift 0.12 package and community.kubernetes.k8s. See attached file: error_with_openshift_0.12.json.txt
community.kubernetes.k8s works well with openshift 0.11.2 pakage. See attached file: ok_with_openshift_0.11.2.json.txt
[error_with_openshift_0.12.json.txt](https://github.com/ansible-collections/community.kubernetes/files/6200968/error_with_openshift_0

[2021-03-29 08:15] kiwo opened #11 "helm: has_plugin fails when helm is outputting multiline description"
##### SUMMARY

We get an Exception in has_plugin in
community.kubernetes/blob/main/plugins/modules/helm.py 421
When testing for helm plugins this is our helm Output:
[code]
The failing output line is "usage:". This results in ValueError: not enough values to unpack (expected 2, got 1) because everything around it gets trimmed.

As a workaround i just ignored every line with single result:

[code]

[2021-03-30 02:02] anshulbehl opened #5 "Missing requirements.txt file"
##### SUMMARY

Both redhat.openshift and kubernetes.core collections are missing requirements.txt file in the collection.
Files are needed to create a certified execution environment that include both of the certified collections. I am not sure which is the correct place to file this bug , so I am taking a best guess. Please correct me if I am wrong @tima @gravesm @Akasurde

[2021-03-30 14:43] tima opened #10 "A new module for copying files to/from a Pod"
##### SUMMARY

Create a module for copying files to/from a running Pod analogous to the `kubectl cp` command.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

k8s_cp

##### ADDITIONAL INFORMATION

Copying files in and out of running Pods with Ansible is generally useful for various scenarios including backup/restore operations.

One option today would be to use the core `copy` module with

[2021-04-04 05:26] jobcespedes opened #9 "k8s lookup return a dictionary"
##### SUMMARY

Using the k8s lookup, it returns a dictionary. I was expecting a list

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s lookup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 32

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A list; even though, there is only one item

##### ACTUAL RESULTS

A dict. There is only one item

[2021-04-08 13:48] goetzc opened #18 "Support globally the "ansible_kubectl_context" variable"
##### SUMMARY
Just as many modules support the `K8S_AUTH_CONTEXT` environment variable, globally supporting the `ansible_kubectl_context` variable would be handy.

Such as here:
https://github.com/ansible-collections/community.kubernetes/blob/0377a892d5ce7ee39ad683d80be8be58dbef7360/plugins/connection/kubectl.py#L83-L90

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`community.kubernetes.*

[2021-04-08 13:52] uda opened #25 "Add context argument to k8s_cluster_info module"
##### SUMMARY
Add context argument to the `k8s_cluster_info` module so I can get the relevant cluster's info (like version)

Currently this module only gives me the option to get the info of the default context.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/modules/k8s_cluster_info.py

##### ADDITIONAL INFORMATION
[code]

[2021-04-08 13:59] alaypatel07 opened #36 "client side rate limiting"
##### SUMMARY

kubernetes client-go has QPS and Burst configurations that will allow us to
rate-limit the number of request hitting the api-server on client side. It would
be great if the k8s module can be backed by rate-limiting client to stop a rogue
playbook bring down api-server

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
probably all components that use the client

##### ADDITIONAL

[2021-04-08 14:01] alexgeek opened #38 "Support for helm secrets?"
Sorry for not using the templates provided but nothing seemed relevant.
I was just wondering if helm secrets is supported?

[2021-04-08 14:02] geerlingguy opened #44 "Add valid type parameter to documentation for resource_definition"
##### SUMMARY

Inside `common.py`, the `resource_definition` argument uses a custom type, `list_dict_str`.

Because of this, and the ansible-test bug [Unable to pass validate-modules sanity check if using custom type for arg spec](https://github.com/ansible/ansible/issues/66968), I can't get the argument in the documentation fragment `k8s_resource_options.py` to pass the `validate-modules` test. I

[2021-04-08 15:28] geerlingguy commented on #32
@tima / @gravesm - It seems like the migration is ongoing at this point—just wondering, will there be a blog post we can reference for the move (especially considering it would be good to get a communique out to the Bullhorn newsletter, and ideally also through social channels (e.g. work with @gundalow to get it on Ansible Twitter, Reddit, etc.)?

[2021-04-08 15:33] tima commented on #32
@geerlingguy It was in the last edition of The Bullhorn. We’re you looking for something more?

[2021-04-08 16:27] geerlingguy commented on #32
I did see the mention; but I think a canonical blog post on the topic would be the best resource (IMO). Plus we could mention how popular the collection has been (still the most-downloaded by a large margin, I believe).

[2021-04-08 17:53] gundalow commented on #32
Blog is a nice way to advertise this collections existence as well as having a clear call to action (easy ways to contribute, what the future may hold, how to test and what type of feedback we are looking for)

[2021-04-09 14:27] gravesm commented on #15
@tima Is there a specific way we have of documenting breaking changes?

[2021-04-09 18:26] gravesm commented on #5
@anshulbehl Sorry for the delay. I published a new version of redhat.openshift to AH yesterday with the fix. Looks like it's still waiting for approval but once it's approved both collections should have a requirements.txt file.

[2021-04-09 18:26] #5 closed

[2021-04-09 18:56] goneri commented on #9
@Akasurde the fix will introduce a breaking change from a user perspective. Maybe we can try to target 2.0.0 because of that.

[2021-04-09 19:10] goneri commented on #13
Hi @hguerrero,

The module works as expected and we cannot change the way it works today without breaking a lot of users. However, you can probably achieve the behavior by using a `retries` condition, a `failed_when` or a when check.

[2021-04-09 19:10] #13 closed

[2021-04-09 19:18] goneri commented on #17
Just a note: If we change the behavior of the `cluster_info`, this will probably be a breaking change. And so we may have to wait for the 2.0.0 release.

[2021-04-09 19:24] goneri commented on #20
It looks like a problem that we cannot really resolve but we can mention in the documentation.

[2021-04-10 12:17] ishigoya opened #53 "Documentation of default kubeconfig location"
##### SUMMARY

References to the location of the default kubeconfig file are not consistent. In some places, it's `~/.kube/config`, and in others it's `~/.kube/config.json`.

I think `~/.kube/config` is correct; as listed in the [kubernetes docs](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/),  and judging by the behaviour of the module.

##### ISSUE TYPE
-

[2021-04-10 18:51] danielburrell opened #56 "Failed to load kubeconfig due to Invalid kube-config file"
##### SUMMARY

When k8s_info module runs on a non-controller host, it looks for a kubeconfig file on the controller host, but returns "invalid kube-config file" error even though the kubeconfig file on the controller is valid.

To demonstrate this I have 2 scenarios to be compared; the first scenario (CI) seems to work by co-incidence, the second scenario (local development) reveals the bug.

**CI

[2021-04-12 04:05] Akasurde commented on #15
@gravesm Do you mean `breaking_changes` in the changelog entry?

[2021-04-12 11:14] rgordill opened #54 "Json merge_type is not applying"
##### SUMMARY
When using json merge, the playbook is running ok but not doing anything. It is the same as https://github.com/ansible/ansible/issues/65897 that was automatically closed by the repo migration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 33 (Thirty Three)
Linux musashi 5.11

[2021-04-12 11:44] savitojs opened #52 "Unable to connect openshift using inventory plugin"
##### SUMMARY

##### ISSUE TYPE
- Bug

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

inventory should gather the information about the objects in openshift.

##### ACTUAL RESULTS

[code]

[2021-04-12 11:44] savitojs commented on #52
cc @Akasurde

[2021-04-12 11:48] Akasurde commented on #52
@savitojs Thanks for reporting this issue. I will try to reproduce this on my setup.

[2021-04-12 13:49] gravesm commented on #15
@Akasurde  I guess I'm just wondering if there's some kind of standardized way to do this in the documentation, in addition to the changelog entry.

[2021-04-12 15:02] gomix commented on #52
This also happens with Ansible 2.9.

``
$ ansible --version
ansible 2.9.19
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/ggomezsa/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.6.8 (default, Aug 18 2020, 08:

[2021-04-13 03:45] belenot commented on #12
I know @nergalex , that's why I just specified previous version of package for pip3 installation on remote host, namely openshift==0.11.0. This fixed my issue.

[2021-04-13 14:50] gravesm commented on #53
@ishigoya Thank you for reporting this.

[2021-04-13 17:13] senpai-d opened #55 "Proxy param does not accept authentication header"
##### SUMMARY
When setting a proxy url in the proxy param, the username:password header is not read. It only accesses the URL, which returns a 407 if authentication is required for the proxy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
WSL Ubuntu 18.03
Pythion 3.6 virtual environment

##### STEPS TO REPR

[2021-04-14 07:58] danielburrell commented on #56
ansible-2.10.7 (this is the latest available version in my organization)
ansible_base-2.10.6
openshift-0.11.2 (because of a bug in openshift 0.12.0)
kubernetes-11.0.0
Not sure what the version of community.kubernetes is, I guess it is determined by the ansible version if it's bundled with ansible?

I'll try and come up with a test case repo.

[2021-04-14 09:05] Akasurde opened #57 "openshift inventory fails with traceback"
##### SUMMARY
Openshift inventory from redhat.openshift and community.okd fails with following error -

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/module_utils/common.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

Collection version

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Inventory returns informat

[2021-04-14 09:05] Akasurde commented on #52
While debugging found another issue - https://github.com/ansible-collections/kubernetes.core/issues/57

[2021-04-14 09:34] abikouo commented on #55
Hi @senpai-d
Thanks for reporting this issue, I will try to reproduce

[2021-04-14 12:09] gravesm commented on #56
I'm confused because the error message about "the Ansible Controller" doesn't exist in this repo. Can you post the output of a failing playbook with full verbosity (`-vvvv`)?

[2021-04-14 14:35] abikouo commented on #55
@senpai-d
could you please check with this pull request https://github.com/ansible-collections/kubernetes.core/pull/58 ?

[2021-04-14 15:23] danielburrell commented on #56
[code]

[2021-04-14 16:10] senpai-d commented on #55
Hi @abikouo ,

I have installed the collection locally to test it out and the proxy_headers variable was picked up but it still returned an authentication required.

Does the username:password need to be encoded or anything?

Thanks.

[2021-04-14 16:19] gravesm commented on #56
OK, I'm pretty sure what's going on here is you have an old version of community.kubernetes. I would suggest upgrading to 1.2.1 and seeing if that fixes your problem.

[2021-04-14 20:05] nergalex commented on #12
thx @belenot, same workaround :)

[2021-04-15 10:35] abikouo commented on #55
@senpai-d could you please display the version of the kubernetes python api you are using ?
[code]

[2021-04-15 12:31] danielburrell commented on #56
is it possible to select that version? I thought it was determined/bundled with the ansible binary...

[2021-04-15 12:53] gravesm commented on #56
Since you're using ansible 2.10 you should be able to do:
[code]
You can install the latest version by doing:
[code]
More info: https://docs.ansible.com/ansible/latest/user_guide/collections_using.html

[2021-04-15 15:19] abikouo commented on #55
@senpai-d using this simple playbook I can talk to the kubernetes api via proxy.

[code]

[2021-04-15 15:35] navodissa commented on #54
I was able to recreate the same issue, using the same ansible version (2.9.18).

[2021-04-15 17:25] senpai-d commented on #55
We have tried 1.12 and 1.17 for the kubernetes client version.

We have got it to work with k8s_info successfully, but when we use k8s, the connection times out. We aren't sure if it is proxy related, but we use the same host for k8s_info and k8s, but only k8s_info seems to work.

[2021-04-16 09:24] Akasurde commented on #57
resolved_by_pr #59

[2021-04-16 09:39] Akasurde commented on #52
resolved_by_pr #63

[2021-04-16 09:40] Akasurde commented on #52
When the user specifies a hostname with extra trailing space (e.g. `https://localhost:6443/`), DynamicClient fails to enumerate the APIs from the cluster server. Removing such extra trailing slashes resolves the issue.

[2021-04-16 10:43] dannystaple opened #66 "Ability to wait on arbitrary status value"
##### SUMMARY

Not all k8s resources implement the conditions in their status. However it may still be necessary to wait on them being ready. Since operations in K8s are asynchronous, an item later depending on this may fail.

A good example is the kind Service. This does not implement conditions as shown in https://github.com/kubernetes/kubernetes/issues/80828. My ansible may need to wait for thi

[2021-04-16 15:43] atreides322 opened #67 "Allow Setting Helm Timeout Independent of Wait"
For the Helm module, the `wait_timeout` provides the the `--timeout` argument to the helm command:

https://github.com/ansible-collections/community.kubernetes/blob/f99614370c4fd3457dbcf9581217df7997ba86fd/plugins/modules/helm.py#L343-L346

However, the `--timeout` argument also effects Helm independently of `--wait`. It can be used to specify a timeout for all Kubernetes commands. https://helm.sh

[2021-04-19 06:00] #57 closed

[2021-04-19 06:00] Akasurde commented on #57
PR merged. Closing this issue.

[2021-04-19 12:06] Akasurde commented on #9
@jobcespedes Could you please confirm if this fix resolves your issue and let me know? Thanks.

[2021-04-19 12:08] Akasurde commented on #9
@goneri This is a bug in the behavior, so it is not a breaking change.

[2021-04-19 12:26] Akasurde commented on #53
resolved_by_pr #65

[2021-04-19 13:05] #17 closed

[2021-04-19 13:05] #15 closed

[2021-04-19 14:20] #53 closed

[2021-04-19 14:22] Akasurde commented on #67
@atreides322 Thanks for reporting this issue.

[2021-04-19 14:23] Akasurde commented on #67
Let me check this and get back to you. btw, how are you invoking this chart using the command line?

[2021-04-20 06:37] #11 closed

[2021-04-20 07:09] ieugen opened #69 "Inventory plugin should prefix groups with cluster name (bug?!)"
##### SUMMARY
Hello,

I'm using the inventory plugin with two clusters (one for prod and one for dev) and I've noticed that it merges the groups from both clusters and I get the following warning:

[code]

On a second note, I believe there are cases where multiple configurations files for this plugin make sense.
One can generate the files.
In this case working with a single file is not easy.

####

[2021-04-20 07:45] #52 closed

[2021-04-20 07:48] Akasurde commented on #69
@ieugen Thanks for reporting this issue.

[2021-04-20 18:29] jobcespedes commented on #9
Confirm it returns a list with one item

[2021-04-20 22:31] atreides322 commented on #67
If I'm using the command line, then I am doing something like `helm install --timeout 10m chart name`.

If it helps, I created a very contrived demo: https://github.com/atreides322/ansible-helm-timeout-demo

[2021-04-21 05:38] ieugen opened #72 "How can I set node labels?"
##### SUMMARY

I would like to set node lables in a kubernetes cluster.
(I'm writing this as I have not seen a way to do it via ansible right now)

I need node labels because cloud nodes have access to cloud volumes while dedicated nodes don't have.
I need to be able to deploy pods based on labels to these nodes.

https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/

##### ISSU

[2021-04-21 07:24] ieugen commented on #72
I have found a solution with shell execution:
[code]

[2021-04-21 21:07] akamac opened #87 "Server-side apply support"
##### SUMMARY
It would be great if `k8s` module supported server-side apply.
https://kubernetes.io/docs/reference/using-api/server-side-apply/
https://kubernetes.io/blog/2020/04/01/kubernetes-1.18-feature-server-side-apply-beta-2/

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`k8s` module

[2021-04-22 10:18] abikouo commented on #69
@ieugen I did not managed to reproduce the issue, could you please clarify.
Details here on my testing environment

[code]
using ``kubectl`` I can validate that there are running pods

[code]

then running ``ansible-inventory -i inventory.yaml --list`` I got the following output

[code]

[2021-04-22 14:18] abikouo opened #78 "issue reading kubeconfig"
Seems similar to #56
##### SUMMARY

module not able to load kube config, as this is done twice, first time with the module parameters then without leading the module to fail
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

namespace successfully crea

[2021-04-22 14:33] gravesm commented on #78
This specific issue is different than #56 and currently only affects the main branch as the regression that was introduced has not been released, yet.

[2021-04-22 17:28] #19 closed

[2021-04-23 10:21] AnubhavQA opened #81 "kubernete.core not pointing to helm3"
##### SUMMARY
Target system has both helm and helm3, when executing kubenetes.core.helm it always refers to helm and not to helm3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubenetes.core.helm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Machine running ansible (localhost): CentOS Linux release 7.9.2009 (Core)
Target system: CentOS 7.8.2003 (Core)

[2021-04-23 10:31] Akasurde commented on #81
@AnubhavQA Thanks for reporting this issue. Please use `binary_path` parameter to point to full path of `helm3` binary.

needs_info

[2021-04-23 15:02] abikouo commented on #54
@rgordill could you please test using the PR ?

[2021-04-26 07:46] Akasurde commented on #81
@AnubhavQA Can you please confirm if `binary_path` works for you? Thanks.

[2021-04-26 07:48] Akasurde commented on #72
@ieugen Do you think we can close this issue since the above solution works for you?

[2021-04-26 07:50] Akasurde commented on #69
@ieugen Can you please confirm the above comment? Thanks.

[2021-04-26 13:56] gravesm commented on #72
@ieugen You can use the k8s module to manage labels on nodes:

[code]

[2021-04-26 14:04] gravesm commented on #54
This appears to actually be a duplicate of #37. We should be able to close out both.

[2021-04-26 14:06] gravesm commented on #37
@wkulhanek this should be possible now through #83 if you'd like to try it.

[2021-04-26 17:55] jmazzitelli opened #84 "support "patch only" feature in k8s"
I discussed this with @gravesm and @fabianvf - they suggested I submit this enhancement request.

##### SUMMARY
Need a way for `k8s` task to support "patch only". Do not create the resource if it doesn't exist - silently skip that resource (do not raise an error).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
k8s

##### ADDITIONAL INFORMATION

I have a interesting use-case that `k8s` does

[2021-04-28 06:33] ieugen commented on #72
Thank you for all the help. I did not know that Node was also a resource I could 'edit' . Thanks @gravesm

[2021-04-28 06:33] #72 closed

[2021-04-28 07:45] ieugen commented on #69
I think the issue here is that I have in my inventory a host and a group with the same name.
The wording and context confused me.

I do have hosts called k1 and k2 which are kubernetes control nodes and the k8s plugin creates groups based on that.
So I would have to rename one or the other or split the hosts inventory from k8s inventory.

I don't want to rename my host and that will not help much

[2021-04-28 12:10] jmazzitelli commented on #84
For the reason why we need this, see : https://github.com/kiali/kiali-operator/pull/300#issuecomment-828276557

[2021-04-28 13:06] #37 closed

[2021-04-28 13:06] #54 closed

[2021-04-28 13:45] benjdudas opened #88 "`diff: no` is not respected with k8s"
##### SUMMARY

When running a playbook with the diff option,  diff results are being listed when `diff: no` is  configured for the task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.k8s

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Diff results will be disabled for

[2021-04-29 13:08] ffirg opened #94 "k8s module documentation has missing google.auth requirement"
##### SUMMARY
k8s module documentation has missing google.auth requirement

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
k8s_module docs - https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_module.html

##### ANSIBLE VERSION

[code]

[2021-04-30 13:56] abikouo commented on #55
@senpai-d thats strange, on our side it is working for both module as it is the same api used. could you please check that it is related to your proxy ?

[2021-05-03 08:49] #55 closed

[2021-05-05 14:12] mcandre opened #95 "Bad name"
##### SUMMARY

Don't call this the "Kubernetes" collection when in fact it only works for specifically OpenShift Kubernetes clusters, not regular Kubernetes clusters. This is misleading and confuses users.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

The collection.

##### ANSIBLE VERSION

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

#####

[2021-05-05 14:39] gravesm commented on #95
@mcandre Is there a specific problem you are having? This module will work with and is tested against a regular kubernetes cluster.

[2021-05-05 15:10] Akasurde commented on #95
@mcandre Openshift clusters can be managed using `redhat.openshift` and OKD clusters are managed by `community.okd`. So your assumption may not be right.

[2021-05-05 15:15] jobcespedes commented on #31
Hi,

I also wonder if this is an anti pattern or not.

I have a use case where an app config is store in a secret for an Ansible based operator. The "native" options available in Kubernetes imply pod restart when config resource is changed. However, using Ansible, I could template the config resource in Kubernetes and keep in sync the respective file in all replicas, no pod restart needed. For tha

[2021-05-06 18:44] #34 closed

[2021-05-18 03:52] sbuvaneshkumar opened #104 "Passing jinja2 file to template"
`template` - Provide a valid **YAML template definition file** for an object when creating or updating
https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/k8s.py#L104

But one of the examples passes jinja2 file to the template.
https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/k8s.py#L185
This will result in error.
[code]
I have

[2021-05-18 08:05] haroonb opened #112 "feature request for k8s_scale - label_selector"
##### SUMMARY

I would like to suggest a label_selector feature be added to the k8s_scale module

##### ISSUE TYPE
- Feature Idea
You can scale using labels instead of explicit names.

##### COMPONENT NAME

k8s_scale with a label_selector field
##### ADDITIONAL INFORMATION

You could scale groups of deployments/statefulsets, which are linked by labels

[code]

[2021-05-18 14:42] gravesm commented on #104
@sbuvaneshkumar what version of ansible and what version of the community.kubernetes collection are you using? If possible, can you paste the contents of the template you are trying to use? You can pass a jinja2 template, but the template, when rendered, needs to be a valid yaml resource definition.

[2021-05-18 14:54] gravesm commented on #94
@ffirg could you provide the specific error message you are getting? google-auth is not directly required by the module, but it is a transitive dependency through openshift and the kubernetes client. Could you report what version of the kubernetes client you have installed?

[2021-05-18 14:56] gravesm commented on #56
@danielburrell have you been able to test this after upgrading? Could you report if it is working for you?

[2021-05-18 15:43] avorima opened #107 "feature request: module to drain node(s)"
##### SUMMARY

Currenty I'm using a `command` with kubectl to drain node(s). It is technically possible to implement this via `k8s` and `k8s_info` by listing all pods on the given node and then deleting them. I would prefer to be able to use the eviction API though, which is what `kubectl drain` tries to do before falling back to deletion, as well as some of the ways that eviction can be tweaked u

[2021-05-19 12:36] QCU266 opened #113 "array with empty dict, will change every time it is applied"
##### SUMMARY
When k8s module is used for Kubernetes Networkpolicy (apply=true) , egress(`[{}]`) will change every time it is applied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

- networkpolicy manifest:
[code]
- playbook:
[code]

##### EXPECTED RESULTS
egress is `[ {} ]

[2021-05-19 14:41] contd opened #109 "Trying to deploy newrelic-bundle and says it deployed, but is not"
##### SUMMARY
I setup a helm install task to install the new relic client bundle based on the documentation of the helm command.  The helm install from CLI with the same values/options works but running the ansible helm install doesn't work.  The ansible output says it was deployed and no errors but when I check the kubenetes cluster none of the PODs or DaemonSets are there as they are when helm i

[2021-05-21 12:59] #84 closed

[2021-05-24 12:32] #109 closed

[2021-05-26 10:26] danielburrell commented on #56
sorry for the delay, so it seems that when building our 'pex' we have been using the python dependency known as 'ansible' which encapsulates some community collections, and I cannot see a more up to date version in pypi, i note that the community package that's bundled with the version i'm using is not the latest.

So this means that if I want to upgrade i'll have to wait for the latest, or else m

[2021-05-26 11:48] unai-ttxu opened #115 "Resource creation from template fails due to action plugin redirection issues in Ansible 2.9"
##### SUMMARY
Resource creation from template fails due to action plugin redirection issues in Ansible 2.9.

I think this is caused after https://github.com/ansible-collections/community.kubernetes/pull/299 merge. Ansible only supports `plugin_routing` redirect from 2.10 version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`k8s module`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[c

[2021-05-26 12:11] Akasurde commented on #104
@sbuvaneshkumar Could you please paste the version of Ansible used?

[2021-05-26 12:11] Akasurde commented on #81
I will go ahead and close this as per above.

[2021-05-26 12:11] #81 closed

[2021-05-26 15:19] gravesm commented on #23
Closing as per above. Feel free to reopen if you are still having problems after making the suggested changes.

[2021-05-26 15:19] #23 closed

[2021-06-01 06:32] Akasurde commented on #95
I will go ahead and close this issue. Please feel free to comment or open a new issue.

[2021-06-01 06:32] #95 closed

[2021-06-02 13:11] sathieu opened #122 "helm `release_namespace` is ignored"
##### SUMMARY

With the following:

[code]

The following command is run:

[code]

i.e. `release_namespace` is ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[ `helm` module](https://docs.ansible.com/ansible/2.10/collections/community/kubernetes/helm_module.html).

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

#

[2021-06-04 04:53] #9 closed

[2021-06-04 09:02] abikouo commented on #28
this has been addressed in the following PR https://github.com/ansible-collections/kubernetes.core/pull/49

[2021-06-04 09:02] #28 closed

[2021-06-04 13:35] gravesm commented on #122
@sathieu Could you confirm, are you finding that it is not being installed into the correct namespace? I'm unable to reproduce this. The namespace should be getting passed through the `HELM_NAMESPACE` env var here: https://github.com/ansible-collections/kubernetes.core/blob/cf0b71f93eeb926fa6650f85219c934440e3bb4d/plugins/module_utils/helm.py#L33-L34.

[2021-06-04 13:36] Timoses opened #123 "kubectl connection plugin tries to create directory '~ansible/.ansible/tmp' which fails with Permission denied"
##### SUMMARY

Using `community.kubernetes.kubectl` connection plugin throws permission denied error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.kubectl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should print the `hostname` of the pod.

##### ACTUAL RESULTS

kubect

[2021-06-07 07:59] abikouo commented on #112
Feature implemented. will be available with the 2.0 release.
For the time being can be used with the main branch

[2021-06-07 07:59] #112 closed

[2021-06-09 18:11] erikgb opened #126 "Module defaults for k8s group using community.kubernetes collection"
##### SUMMARY
I am trying to migrate our Ansible stuff to use FQN on module names (including migrating to `community.kubernetes` collection). Since we are using quite a few of the k8s modules in our playbooks, we have set module defaults for the k8s group, as explained [here](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html#module-defaults-groups). I have made a fe

[2021-06-11 13:05] abikouo commented on #113
@QCU266 could you please validate that it is working properly now with the fix on #131 ?

[2021-06-11 13:41] sathieu commented on #122
@gravesm I can confirm that this was not working before patching. Reading the code, this is really strange.

[2021-06-11 14:40] abikouo commented on #126
@erikgb thanks for taking the time to report this issue.
What you are trying to do is pending implementation of https://github.com/ansible/ansible/pull/74039, you can get full details here
https://gist.github.com/s-hertel/725ecc719b5301e76c571aca58d39bd3.
For the time being you can update your playbook adding ``collections`` keyword like this:

[code]

[2021-06-14 16:59] abikouo commented on #123
Hi @Timoses
Thanks for taking the time to report this issue.

The issue appear when you have the ``ansible_ssh_user`` or ``ansible_user`` set into your inventory file, as above

[code]
and this user has not been created in your pod/container, removing this variable will basically try to work on the following directory ``~`` instead of ``~ansible`` which will work for all users.
could you please gi

[2021-06-15 08:41] #113 closed

[2021-06-15 08:44] #66 closed

[2021-06-16 07:18] sathieu commented on #122
Closing, as I'm finally using Helm binary directly instead (to avoid extra dependency to run the playbook).

[2021-06-16 07:18] #122 closed

[2021-06-16 12:39] darac79 opened #137 "Ansible hangs in Python 3 code when creating a secret via kubernetes.core.k8s on openshift"
##### SUMMARY

Creating a secret on openshift using the kubernetes.core.k8s fails. The ansible playbook hangs in the python 3 code execution of the module. The generated python code from the temporary file will be attached too.

Here's the last output:
[code]
The ansible playbook commands can be found below. Publishing the generated yaml via openshift console succeeds - therefore it is not a synta

[2021-06-16 12:44] darac79 commented on #137
I attached the generated python code - but removed sensitive data from it.
[AnsiballZ_k8s.py.txt](https://github.com/ansible-collections/kubernetes.core/files/6663101/AnsiballZ_k8s.py.txt)

[2021-06-17 09:03] hassenius opened #139 "in-memory kubeconfig rather than file"
##### SUMMARY
Have a method to use non-file-based kubeconfig

##### ISSUE TYPE
Feature or documentation improvement if already possible

##### COMPONENT NAME
kubernetes.core.k8s

##### ADDITIONAL INFORMATION
In our case we store the relevant kubernetes auth information in an external secret store, so we can easily retrieve the content of a kubeconfig file which has all the relevant information to

[2021-06-17 15:39] Timoses commented on #123
Thank you. I inspected the target container and it uses the user `jboss`.

So I opted for setting the task keyword `remote_user: jboss` (see [here](https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html)).

This works as expected thanks.

[2021-06-17 16:15] #123 closed

[2021-06-20 06:16] itaru2622 opened #140 "[bug] getting stuck while applying configmap entry into k8s."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

not sure but may be kubernetes.core.k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Container image based on official Python 3 image (python:3-buster).
[code]

##### STEPS TO REPRODUCE

install latest kubernetes.core by
``` ansible-galaxy collection install git+https://github.com/ansible-co

[2021-06-21 12:27] gravesm commented on #140
@itaru2622 Thanks for reporting this. It appears to be a bug in cloud.common. Without it, I'm able to successfully create all the config maps. As a workaround, I would suggest removing the cloud.common collection until a fix can be applied.

[2021-06-21 19:39] itaru2622 commented on #140
@gravesm Thank you for your reply and finding work around.

I will replay your workaround test, first.

[2021-06-22 08:39] itaru2622 commented on #140
@gravesm I confirmed your workaround works fine.

I will check again after cloud.comman's PR number 62 merged.
Thank you for spreading issue report to cloud.common.

[2021-06-22 09:38] tgdfool2 commented on #137
Same issue here, could be reproduced on an AKS v1.19.7 cluster; secret creation using template and lookup hangs forever.

[2021-06-22 11:29] gravesm commented on #137
@darac79 There's a bug in cloud.common. See here: https://github.com/ansible-collections/cloud.common/issues/61. Duplicate issue here: https://github.com/ansible-collections/kubernetes.core/issues/140. As a workaround until the PR gets merged and released, you can remove cloud.common.

[2021-06-22 12:41] darac79 commented on #137
@gravesm Thx for the quick support and pointing out a possible workaround.
As I am quite new to this tech stack need to find out how I could possibly remove the dependency from kybernetes.core to cloud.common? Are there some instructions/documentation I can follow? Is it maybe by simply deleting the folder {home}\.ansible\collections\ansible_collections\cloud\common?
I would appreciate some guidan

[2021-06-22 12:43] gravesm commented on #137
@darac79 Yes, you can just delete the cloud\common directory.

[2021-06-22 12:46] tgdfool2 commented on #137
@gravesm: Thanks for pointing out the issue!

@darac79: I didn't find a proper way to do this through the `requirements.yml` file, so I make sure that the directory is removed at the beginning of my Playbook:
[code]

[2021-06-22 13:28] Prometej commented on #30
I am also interested in this feature. I would like to run kustomize in post-renderer. This is very useful if you need to make updates (usually security issues that are not covered in templating) on community charts without modifying them.

The links you provided are currently broken could you please update them?

[2021-06-22 19:36] #140 closed

[2021-06-23 01:31] itaru2622 commented on #140
@gravesm

I confirmed  official latest release of cloud.common ver 2.0.3 fixed this issue by merging cloud.common#62
Could you bumpup cloud.common to >= 2.0.3 in galaxy.yml ? releasing new version or new tag is the best. :-)

https://github.com/ansible-collections/kubernetes.core/blob/b50f1f2fc990a23bd6e63e30a8bdbac0ee8a4782/galaxy.yml#L12

[2021-06-23 09:13] tgdfool2 commented on #137
Looks like bug has been fixed and code has been merged: https://github.com/ansible-collections/cloud.common/pull/62.

I did a quick test on my side and everything looks good again, with Turbo Mode enabled. Thanks @gravesm for having fixed this!

[2021-06-23 12:15] darac79 commented on #137
@tgdfool2 thx for the tip. I'll give it a try these days.

[2021-06-23 13:30] gravesm commented on #137
I'm going to go ahead and close this one. If you find it's still a problem feel free to reopen. If you're using ansible 2.11+ you can easily upgrade the cloud.common dependency with ```ansible-galaxy collection install --upgrade cloud.common```. For 2.10 are older you can delete the old cloud.common collection and just reinstall.

[2021-06-23 13:30] #137 closed

[2021-06-23 14:38] ulrichSchreiner opened #145 "Invalid kube-config after upgrade to kubernetes.core"
hi,

i use the ansible operator sdk to build k8s operators with ansible.  when developing you can start the operator locally. i have a `KUBECONFIG` environment file which points to my minikube and then i start the operator with `ansible-operator run`.

when using the following requirement:
[code]

everything works. you can update the CRD and the operator starts to invoke the playbook/role to updat

[2021-06-23 17:27] jmazzitelli opened #147 "lookup and query behavior differ when using resource_name vs label_selector"
Run this playbook:

[code]

Here I have a pair of `query` and a pair of `lookup` invocations. In each pair, one is looking up the namespace by name (using `resource_name`) and one is looking up the namespace by label (using `label_selector`).

Each assert is verifying the same thing - that the first element in the returned list has `metadata.name == "testns"` (thus verifying the results include th

[2021-06-23 20:03] Johny-faillab commented on #140
Unfortunatelly I'm still having the exact issue even after upgrading to version 2.0.3. Still getting stuck while applying configmap. I removed ~/.ansible/collections/ansible_collections/cloud/common and copied the new version 2.0.3, but it didn't helped.

[2021-06-23 20:24] ChandlerSwift commented on #140
@Johny-faillab I seem to remember that the turbo server just hangs in the background when it failed. It's possible that there's still a lingering turbo process (on Linux, you could `ps aux | grep -i turbo` and look for something that's running `python`) that you need to kill before it'll work. We'd been running Ansible in a container and mostly avoiding this, but during testing we ran into some is

[2021-06-23 20:40] Johny-faillab commented on #140
Great catch! turbo process was indeed running on the target vm. Killing that process fixed the issue. Thanks a lot!

[2021-06-23 21:33] jmazzitelli commented on #147
Here is what I see:

a. query when using using label_selector returns a list-in-a-list  _**(works incorrectly)**_
b. query when using resource_name returns a list _(works correctly)_
c. lookup when using label_selector returns a list _**(works incorrectly)**_
d. lookup when using resource_name returns a single item _(works correctly)_
d1. lookup when using resource_name but no resource exists with

[2021-06-23 23:36] jmazzitelli commented on #147
And I just realized I have code that depends upon this odd (probably incorrect) behavior - and I do not know how to re-implement it based on how I think it should work after this issue is "fixed". So maybe we should not fix this. LOL

Background: "Ingress" kind has changed in newer versions of kubernetes. If you use v1beta1, you will see warnings like this: `[WARNING] networking.k8s.io/v1beta1 Ing

[2021-06-23 23:53] jmazzitelli commented on #9
I reported some issues surrounding this - see: https://github.com/ansible-collections/kubernetes.core/issues/147

FWIW: I think this issue was incorrect - it said in the description: "Using the k8s lookup, it returns a dictionary. I was expecting a list." You should not expect a list from lookup, you should expect a string. You should expect a list from query. Only if you pass "wantlist=True" shou

[2021-06-24 00:18] jobcespedes commented on #9
A list is expected in my interpretation from the k8s lookup docs: https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_lookup.html#return-_list

@jmazzitelli I am probably not the best person to confirm whether you are correct or not.  However, reading what you shared, it doesn't tell me a lookup plugin should not return a list.

¿Do you think k8s lookup should return a rep

[2021-06-24 00:38] jmazzitelli commented on #9
Based on that doc you referenced: https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_lookup.html#return-_list it does seem to say it returns a list always. But even today (even with this issue fixed) that is not true. It does not return a list when you use `resource_name` as opposed to `label_selector`.

So, I dunno - the documentation conflicts here and the implementatio

[2021-06-24 14:53] abikouo commented on #147
Hi @jmazzitelli

Thanks for reporting this issue.
You can use the ``k8s_cluster_info`` module to determine whether the cluster has ``v1`` API version for Ingress, here is an example:

[code]

[2021-06-25 11:40] gravesm commented on #145
@ulrichSchreiner This is due to a bug in cloud.common. We have temporarily removed cloud.common as a dependency until we can sort out the underlying issues. If you upgrade to to kubernetes.core 2.1.1 things should be working again.

[2021-06-25 13:29] Akasurde commented on #9
@jobcespedes @jmazzitelli I will work on this and confirm.

[2021-06-25 13:59] gravesm commented on #147
@jmazzitelli Thanks for reporting this. I think you are mostly correct. The only things I would argue otherwise are that `lookup` without `wantlist=True` _may_ return a list, and a lookup or query that finds nothing should both return an empty list. Basically, if you need to ensure you get a list, use either `query` or `wantlist=True` with `lookup`. We're looking into fixing this to provide more c

[2021-06-28 14:17] Akasurde commented on #147
@jmazzitelli I updated the code and documentation to match `query` and `wantlist=True` expectations. Could you please check and let me know if it works for you? Thanks.

[2021-06-28 14:33] jmazzitelli commented on #147
@Akasurde what is the behavior now if I use `errors='ignore'`? Perhaps you should add some tests that use that, as well?

This was my only concern with backwards compatibility issues (at least for code I have).

In other words, what will these two return now?

[code]

The alternative mentioned above in https://github.com/ansible-collections/kubernetes.core/issues/147#issuecomment-867701284 would w

[2021-06-28 14:35] Akasurde commented on #147
Thanks for updating on `errors`. I will check `errors=ignore` behavior and get back

[2021-06-28 14:37] abikouo commented on #147
the response time for the ``k8s_cluster_info`` could be reduced if we add some filtering options like ``kind`` or any other relevant

[2021-06-29 06:06] Akasurde commented on #147
@jmazzitelli I checked, `errors=ignore` works as expected.

[2021-06-29 09:12] abikouo commented on #43
@geekifier thanks for suggesting this feature, we are currently working on it and let you know once it is ready

[2021-06-29 10:47] Akasurde commented on #115
@unai-ttxu Thanks for reporting this issue. Could you please try the latest version of kubernetes.core 2.1.1 which resolves the problem and let us know? Thanks.

[2021-06-29 11:12] Akasurde commented on #94
@ffirg `google.auth` is a requirement of `kubernetes` Client Python and not of `kubernetes.core` collection. Like @gravesm said it is a transitive dependency. Let me know your views on this. Thanks.

[2021-06-29 15:07] roelarents commented on #87
I suppose one of the requirements is for the k8s python client to support it. An issue for that has been made here:
https://github.com/kubernetes-client/python/issues/1430

[2021-06-30 04:50] rendhalver opened #156 "Add an update option for helm_repository"
##### SUMMARY

We need to add an option to update those repositories or add something that checks if the repo needs updating an perform that update.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

helm_repository

##### ADDITIONAL INFORMATION

Helm repositories are not static and are updated regularly.
From what I can tell the code does not perform an update or allow an update to be perfor

[2021-06-30 04:53] rendhalver opened #157 "Add option to set version for helm_plugin"
##### SUMMARY

Add option to set version of plugin to install

When you install helm plugins we can set a version of the plgin to install like so:
`helm plugin install --version 0.8.0 https://github.com/helm/helm-2to3`
We should add this option so we can keep those plugins updated as required.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

helm_plugin

##### ADDITIONAL INFORMATION

[code]

[2021-06-30 05:11] Akasurde commented on #156
@rendhalver Thanks for reporting this. Could you please provide a sample command or flag which is used to achieve this functionality? Thanks.

[2021-06-30 05:43] Akasurde commented on #157
@rendhalver Thanks for reporting this feature.

[2021-06-30 05:50] rendhalver commented on #156
Ah sorry. I have updated the description to include the repo update command.

[2021-07-01 13:52] amin224 opened #159 "ERROR! couldn't resolve module/action 'community.kubernetes.k8s'"
ISSUE TYPE

- Bug Report

COMPONENT NAME

- Community.kubernetes.k8s

SUMMARY

I am trying to use the community.kubernetes.k8s module for my ansible-playbook but I am unable to run it, I believe ansible is not able to find the module. I've tried many attempts from various sources to solve this issue.

ENVIRONMENT

-  ansible --version
[code]

- Operating System: Ubuntu 20.04

- ansible-galaxy coll

[2021-07-01 14:04] gravesm commented on #159
@amin224 Your `collections_paths` in ansible.cfg should point to `~/.ansible/collections` not `~/.ansible/collections/ansible_collections`. If you want to set it through an environment variable you will need to use `ANSIBLE_COLLECTIONS_PATHS`.

I'll also add that the kubernetes collection requires ansible >=2.9.17. You will likely run into problems with your kubeconfig on older versions.

[2021-07-02 07:50] amin224 commented on #159
@gravesm Kindly note that I changed the path for collections_paths in my ansible.cfg to `~./ansible/collections` but I am still getting the same error.

The default ansible.cfg in my `/etc/ansible `directory
[code]

- ansible-doc community.kubernetes

[code]

Please note that when executing this command I noticed that the path is leading to `/usr/share/ansible` but in my `/usr/share `directory the

[2021-07-02 17:51] jmazzitelli opened #161 "k8s task treats null values differently if creating vs updating resources"
##### SUMMARY
A field (such as a metadata label, or service selector) may or may not exist on a resource - I want to make sure that field does NOT exist (i.e. the field should be removed if it does exist; if it does not exist, do nothing).

A `null` value should tell `k8s` to remove the field if it exists but do nothing if it does not exist. If a resource itself does not exist, you would expect th

[2021-07-02 18:00] #14 closed

[2021-07-02 18:02] #20 closed

[2021-07-02 18:03] tima commented on #21
Closing for lack of activity. Please try kubernetes.core 2.0 and create a new issue if this persists.

[2021-07-02 18:03] #21 closed

[2021-07-02 18:05] tima commented on #24
Closing for lack of activity. Please try the latest stable of kubernetes.core 2.1.1 and create a new ticket if the problem persists.

[2021-07-02 18:05] #24 closed

[2021-07-02 18:06] tima commented on #26
Closing for lack of activity. Please try the latest stable of kubernetes.core (currently 2.1.1) and create a new ticket if the problem persists.

[2021-07-02 18:06] #26 closed

[2021-07-02 18:07] #29 closed

[2021-07-02 18:11] tima commented on #30
@Prometej I think ansible-collections/community.kubernetes#367 became #39 when the repo was migrated.

[2021-07-02 18:17] tima commented on #31
Sorry I didn't see your comment sooner @jobcespedes. Wouldn't one of the `_info` modules or even the k8s lookup provide you the same capabilities?

[2021-07-02 18:20] tima commented on #32
This was mostly completed as part of 2.0. Closing it out.

[2021-07-02 18:20] #32 closed

[2021-07-02 18:45] jmazzitelli commented on #161
Here's a description of the real-world problem that I am having that is caused by this k8s issue: https://github.com/kiali/kiali-operator/pull/348#issuecomment-873191750

[2021-07-02 19:33] jobcespedes commented on #31
They do the work, along with add_host. However, once you have more than one use case, it does not feel right to use Ansible tasks to build inventories and it does not help reusability.

[2021-07-05 08:35] amin224 commented on #159
After uninstalling ansible and removing all ansible related directories, I tried a fresh installation of ansible using
[code]

I have noticed that ansible does not create a plugins directory neither in `/home/amin/.ansible ` and no ansible directory in `/usr/share/` as stated in the configured module search path. @gravesm  **Do I have to create it manually?** If it can be changed in the `/etc/ansi

[2021-07-05 09:42] #159 closed

[2021-07-05 09:57] amin224 opened #162 "common: k8s module import fails due to upstream Ansible bug"
ISSUE TYPE

- Bug Report

COMPONENT NAME

- kubernetes.core.k8s_info

ENVIRONMENT

-     ansible --version

[code]

- Operating System: Ubuntu 20.04

- ansible-galaxy collection install kubernetes.core

SUMMARY

I am testing the Kubernetes module by creating a simple namespace resource but I am getting this Error and I cannot find a similar topic elsewhere.

- ansible-playbook -i inventory.yml tes

[2021-07-05 10:22] Akasurde commented on #162
@amin224 Thanks for reporting this issue. Could you please use update Ansible to 2.9.17 or latest and retry?

[2021-07-05 12:23] amin224 commented on #162
@Akasurde Please check below results as you requested. Unfortunately I am getting the same error when running the playbook.

- $sudo -H pip3 install ansible==2.9.17

[code]

- $ ansible --version

[code]
- ansible-galaxy collection install kubernetes.core

[code]
- $ ansible-doc kubernetes.core.k8s
[code]

[2021-07-05 12:59] amin224 commented on #162
#https://github.com/ansible/ansible/issues/6836

My issue is similar to this output, and they are suggesting to upgrade to 2.10 I will try and share results.

[code]

[2021-07-05 13:13] Akasurde commented on #162
The issue you connected is not working. Could you please correct the link?

[2021-07-05 13:18] amin224 commented on #162
Apologies. Fixed

[2021-07-05 13:22] Akasurde commented on #162
@amin224 Is it possible for you to upgrade to 2.10 or the latest?

[2021-07-05 13:24] amin224 commented on #162
Yes I will install ansible 2.10 and share results hopefully it works.

[2021-07-05 13:37] Akasurde commented on #162
I am trying to reproduce this issue on 2.9 with the Kubernetes collection.

[2021-07-06 05:54] Akasurde commented on #162
@amin224 Could you please try PR #163 and let me know if it works for you? Thanks in advance.

[2021-07-06 09:09] amin224 commented on #162
@Akasurde Good day,

I tested both versions of ansible 2.9.6 and ansible 2.10.11 in 2 different VMs

In ansible version 2.9.6 I edited the lines of code in the path `/home/amin/.ansible/collections/ansible_collections/kubernetes/core/plugins/module_utils/common.py`

[code]

[code]

After running the ansible-playbook `ansible-playbook -i inventory.yml testingmain.yml --ask-become-pass --limit serve

[2021-07-06 09:44] Akasurde commented on #162
@amin224 Please copy exactly as per the following -

[code]

and install `kubernetes` Client Python library on `ubunt` machine using

[code]

or use the package manager to install it.

[2021-07-06 10:45] amin224 commented on #162
@Akasurde Thank you for your time and much appreciated help!
After editing the common.py file as per requested and installing the Kubernetes module on the remote machine using

There are no errors when deploying Kubernetes resources using ansible playbooks.

Please note that this issue is related to 2.9.x versions of ansible, but in version 2.10.11 I did not have to edit the common.py file.

[2021-07-06 11:36] Akasurde commented on #162
@amin224 Sweet. Thanks for the feedback.

[2021-07-06 16:48] abikouo commented on #161
@jmazzitelli thanks for taking the time to report and fully described the issue, I will work on this.

[2021-07-06 17:04] abikouo commented on #161
@jmazzitelli I just check how this will work using `kubectl` and it seems working as ansible does

Namespace yaml definition
[code]
create namespace using `kubectl create -f ./namespace.yaml --validate=false`
and describe it

[code]

Then when running apply command with the same definition the namespace is updated as on ansible

[code]

[2021-07-06 17:20] jmazzitelli commented on #161
Regardless of the behavior of kubectl, I would think a simple solution would be for the k8s task to remove any fields with a value of "null" if it knows it is going to create a resource (I assume k8s knows if it is going to create a new resource as opposed to updating an existing one??). In this way, ansible will work better than kubectl :)

[2021-07-06 17:30] gravesm commented on #161
Just to shed some more light on this. The `null` (or `None` by the time the yaml gets loaded into python) value is being passed to the K8S api, but converting that to an empty string is just how the api works as best I can tell. Fixing this is a bit complicated because `null` values are specifically allowed in CRDs. If we just removed `null` fields we'd break CRDs. I think CRDs are the only resour

[2021-07-06 17:36] jmazzitelli commented on #161
BTW: to me this is a result of having `k8s` support this `state` field with "present". Granted, the nice thing with that feature is that the ansible developer is not required to know (well, is not "supposed to be" required to know) if the resource exists or not -- k8s is going to create a new object or just patch an existing one. The burden is lifted off the developer. But, the dev needs to prepar

[2021-07-07 09:58] Akasurde commented on #88
@benjdudas Could you please check if PR #146 works for you and let us know? Thanks.

[2021-07-07 09:58] Akasurde commented on #88
resolved_by_pr #146

[2021-07-07 10:00] Akasurde commented on #43
@geekifier Could you please check if PR #158 works for you and let us know? Thanks.

[2021-07-07 10:00] Akasurde commented on #43
resolved_by_pr #158

[2021-07-08 16:56] #147 closed

[2021-07-09 04:32] #162 closed

[2021-07-12 04:40] kakarukeys opened #165 "helm module idempotency check failed when imagePullPolicy is Always"
##### SUMMARY
when imagePullPolicy is Always, k8s always pulls the image regardless of identical tag.
so the idempotency check should compare SHA256 checksum of the images, otherwise it will report no difference when there is no change in values.
if this is too much to ask for, then the module should disregard the check results, and always run the helm upgrade command in this case.

##### ISSUE TY

[2021-07-12 14:07] gravesm commented on #165
@kakarukeys Setting `force: true` should ignore the idempotency check and do what you want. Please let me know if this works for you.

[2021-07-12 14:17] kakarukeys commented on #165
set `force: true` has a different meaning, it adds `--force` to the helm command.
`--force                        force resource updates through a replacement strategy`
It has other implications, for example it would also replace the service, when there is no need to.
it's not equivalent to what I described.

[2021-07-12 15:40] gravesm commented on #165
If you haven't changed anything in the chart or values, helm isn't going to redeploy anything. And unless something has changed in the pod spec or you are otherwise forcing kubernetes to restart the container, it's not going to do so. Maybe I'm misunderstanding what you are asking? Could you maybe provide the helm command that you would like to be run, and what the expected outcome of that command

[2021-07-12 21:28] jam01 opened #166 "kubectl connection does not work with containerd clusters"
##### SUMMARY

Running an `add_host` task using `kubectl` as connection and subsequently delegating to that host succeeds in a docker based cluster, but fails in a containerd based one.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubectl connection

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 34 container

#

[2021-07-13 03:40] kakarukeys commented on #165
I am seeing the helm command redeploys the pod sometimes. It may have something to do with the extra flags `--reset-values` and `--reuse-values`. But on a brand new release, it behaves as what you just said, so i will close this issue, since there's no deviation from this behavior in ansible helm module.

I've added a random tag to force a redeploy as [stackoverflow suggests](https://stackoverflow

[2021-07-13 03:40] #165 closed

[2021-07-13 15:09] gravesm commented on #166
@jam01 Thanks for reporting your issue. There are a lot of different places this could be breaking and there's not much to go on. I tried a quick test locally with minikube using containerd as the runtime and it worked fine. The kubectl connection plugin is not doing a whole other than just running kubectl exec. Could you first verify that you can successfully run the command just using kubectl ex

[2021-07-13 15:16] jam01 commented on #166
Thanks for taking a look, @gravesm . Which command should I try? Are these ansible-tmp files are available after the playbook execution?

[2021-07-13 15:33] gravesm commented on #166
I would suggest first just running something simple like `hostname`:
[code]
If that works, try running that same command through the connection plugin. So instead of using the `uri` module, use something like:
[code]
The uri module adds a whole other layer of networking to the mix, so I'm just trying to remove some variables to hopefully get a better sense of where things are breaking.

[2021-07-13 16:22] jam01 commented on #166
Results:

#### manual exec
[code]
#### delegeate command
[code]

[2021-07-13 16:45] jam01 commented on #166
I did a ^Z before Ansible removed the file on the container, and the AnsiballZ_commad.py is empty... :man_shrugging:

[2021-07-14 09:46] unai-ttxu commented on #115
Hi @Akasurde,

We finally bumped Ansible version to 2.10 and it works smoothly. I'll try to test it with Ansible 2.9 to check if it works well too.

[2021-07-14 16:15] unai-ttxu commented on #115
I have just tested with Ansible 2.9 and kubernetes.core 2.0.2 and it works perfectly :smile:

I suppose that it will work as well with kubernetes.core 2.1.1 since this version has also the following fix https://github.com/ansible-collections/kubernetes.core/pull/135.

[2021-07-14 16:32] Akasurde commented on #115
I will go ahead and close this. Please let me know if it does not work. I will re-open this issue. Thanks for the feedback.

[2021-07-15 18:35] gravesm commented on #166
Could you try setting the `ANSIBLE_KEEP_REMOTE_FILES` envvar to 1 before running the playbook? This will be a more reliable way to ensure it isn't removing the uploaded module. If it really is empty, my best guess at the moment is that there's a permissions issue somewhere. If it's not empty, you can try manually running the module on the container using these steps: https://docs.ansible.com/ansib

[2021-07-19 15:42] SpikePy opened #174 "helm diff not working when using kubernetes.core.helm with on-the-fly templating"
##### SUMMARY
When using the module _kubernetes.core.k8s_ with on-the-fly templating helm diff seems not to work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- kubernetes.core.helm

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
debian buster

##### STEPS TO REPRODUCE

1. Install helm diff
2. Run this task on a target mach

[2021-07-19 16:10] DanSibbernsen opened #175 "Inventory plugin doesn't accept remote_username or ansible_remote_tmp change"
##### SUMMARY

First time using the plugin: kubernetes.core.k8s, so I might just be seeking guidance. I'm also relatively new to Ansible, so I'm not sure I'm using this module correctly with my other inventories. When using  the kubernetes.core.k8s inventory plugin I run into the error `Failed to create temporary directory. In some cases, you may have been able to authenticate and did not have per

[2021-07-21 13:24] gravesm commented on #22
@dojones1 this feature has been added in https://github.com/ansible-collections/kubernetes.core/pull/164.

[2021-07-21 13:24] #22 closed

[2021-07-23 17:22] bigfleet commented on #139
e.g.

[code]

[2021-07-27 08:59] abikouo commented on #88
Feel free to re-open the issue if needed

[2021-07-27 08:59] #88 closed

[2021-07-27 09:00] #10 closed

[2021-07-28 13:18] RafalSkolasinski opened #189 "yaml.composer.ComposerError: found duplicate anchor 'everything'; first occurrence"
##### SUMMARY

I have an role that automates installation of Knative Eventing & Serving. It does work fine until the 0.22.0 version of knative but fails for 0.24.0 (maybe 0.23.0 too as well but didn't try).

Using `kubectl` instead still works fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.k8s

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

#####

[2021-07-28 13:44] gravesm commented on #189
@RafalSkolasinski this error is coming from pyyaml because there are duplicate anchors in the https://github.com/knative/eventing/releases/download/v0.24.0/in-memory-channel.yaml document. Unfortunately, there's not much we can do about this on our side. There is [an open PR](https://github.com/yaml/pyyaml/pull/394) in the pyyaml repo for this. I'd guess the reason this works with kubectl is becau

[2021-07-28 17:22] WissemChb opened #191 "Add dependency update command to Helm module"
##### SUMMARY
I'm using the `Kubernetes.core.helm` module to deploy charts. But, if I'm not mistaken,  I found that there is no way to pull helm sub-charts when using helm dependency.

##### ISSUE TYPE
- Add the command `helm dependency update` in the module.

##### COMPONENT NAME
helm

##### ADDITIONAL INFORMATION
We add an Ansible task parameter `dependency_update: true|false(default false)` tha

[2021-07-28 21:42] uramu opened #192 "ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-07-29 01:19] itaru2622 opened #193 "release request current main branch as new version"
##### SUMMARY

release request current main branch as new version(2.1.2).
since 2.1.1 new features added, and I want to start using it

##### ISSUE TYPE
- release request current main branch as new version

##### ADDITIONAL INFORMATION
I know that main branch can be installed as follows.
it useful for testing  but it has potential risk for long term use.
so, I want to get  latest main branch featu

[2021-07-29 09:56] #43 closed

[2021-07-29 12:55] gravesm commented on #192
@uramu Could you please provide the rest of the information requested in the issue template?

[2021-07-29 17:24] gravesm commented on #191
@WissemChb Thanks for filing this feature request. You are correct that there is currently no way to do this using the helm module.

[2021-07-30 12:25] WissemChb commented on #191
Thank you for your response, so I'll start adding this feature.

[2021-07-30 15:23] abikouo commented on #175
Hi @DanSibbernsen

Thanks for taking the time to report this issue with full detailed information.
The ``Kubernetes.core.k8s`` connection used by the corresponding inventory plugin is well honoring ``ansible_remote_tmp`` change, this is done in the ansible core engine.
Regarding the ``remote_username`` is not supported as there is no option to define the container user when running command ``kubec

[2021-07-30 15:32] DanSibbernsen commented on #175
Hi @abikouo , thanks for the reply! Here's the output:

[code]

[code]

[2021-07-30 15:35] abikouo commented on #175
@DanSibbernsen you have everything configured to create the ansible temp directory
Did you tried to run your playbook without the ``remote_user`` variable ?

[2021-08-02 14:40] ledroide commented on #39
@msven :

This works. Good workaround. Thanks !

[2021-08-03 03:31] retr0h opened #197 "k8s_exec Reason: Handshake status 404 Not Found against k3d"
##### SUMMARY

I receive the following error when attempting to run k8s_exec against a pod running in [k3d](https://k3d.io/), I receive the same issue with [kind](https://kind.sigs.k8s.io/).

It should be noted I am using the [molecule-k3d](https://github.com/retr0h/molecule-k3d) driver.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_exec

##### ANSIBLE VERSION

[code]

##### CO

[2021-08-03 06:39] retr0h commented on #197
This was an error on my part.  I had gotten this error when using the wrong pod name.  I swear I had checked this :)

[2021-08-03 06:39] #197 closed

[2021-08-04 12:49] erikgb commented on #174
I can confirm this behavior, and I am running inside a container image - where I am sure `helm diff` is installed correctly.

[code]

[2021-08-04 14:02] gravesm commented on #174
Just looked into this and as @erikgb points out this is intentional. Up until about a month ago helm diff did not support the `--repo` option. Unfortunately, there is still no release of helm diff with this change.

[2021-08-04 16:29] danielburrell opened #199 "k8_info not detecting deployments correctly."
##### SUMMARY

I've deployed a helmchart called calico to a cluster and am using ansible to verify that it successfully deployed via the k8s_info module. Ansible is asked to search for a deployment, in a namespace, and count the number of readyReplicas, and the code should retry until it's found. The trace below shows it failing for the `calico-typha` entry. The json blob below shows the search te

[2021-08-04 19:16] gravesm commented on #199
@danielburrell As to why it's failing, you have `quantity: '1'` instead of `quantity: 1` (int vs string) for calico-typha. To your second point about why the ready replicas for k8s_info don't match what you get from kubectl, I am unable to reproduce that behavior locally. The resource returned from k8s_info is taken directly from the kubernetes API response and we don't alter it. Are you finding t

[2021-08-04 23:26] danielburrell commented on #199
Yep, that was the issue, the value needed to (as shown above) be unquoted or in my case be `|` piped through int.
Once that was resolved, the correct count was calculated.

Sorry, Thanks so much!

[2021-08-04 23:26] #199 closed

[2021-08-07 20:25] DanSibbernsen commented on #175
Hey @abikouo, I've found a better path for my needs. Turns out Consul (and Vault) have HTTP API endpoints that seem to do everything I need for initialization, updates, and backups. I'm going to close this issue, but thanks for the help!

[2021-08-07 20:25] #175 closed

[2021-08-09 14:06] gravesm commented on #107
A new module for draining a node has been added in #141. Thanks for the suggestion @avorima.

[2021-08-09 14:06] #107 closed

[2021-08-11 10:44] #192 closed

[2021-08-11 10:46] Akasurde commented on #189
@RafalSkolasinski Could you please confirm if @gravesm's suggestion works for you? Thanks.

[2021-08-11 17:53] gravesm commented on #189
I'm not sure there's any real suggestion here. The only workaround I can think of until pyyaml is fixed would be to just call out to kubectl. Not great, but the best I can offer. I'm going to go ahead and close this since it is a pyyaml problem. Feel free to reopen if you think there's some way we can address this.

[2021-08-11 17:53] #189 closed

[2021-08-12 06:52] datYori opened #201 "Namespace creation with wait_condition hangs"
##### SUMMARY

While doing

[code]
I would expect playbook to go to next step wihtout error, this is not the case

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes.core.k8s
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

[2021-08-12 11:25] gravesm commented on #201
@datYori Could you upgrade your kubernetes.core collection to 2.1.1 and let us know if that fixes it?

[2021-08-12 13:10] sverrehu opened #202 "helm_repository inherits module_defaults from k8s_info"
##### SUMMARY

`helm_repository` inherits `module_defaults` set for `k8s_info`, even
values that are not supported as arguments to `helm_repository`,
leading to failure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

helm_repository

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Various Linuxes.

##### STEPS TO REPRODUC

[2021-08-12 14:32] gravesm commented on #202
@sverrehu Thanks for reporting this bug. I am able to reproduce locally.

It looks like the module defaults are being applied to the action plugin. I'm unclear if this is intended behavior or a bug in ansible core. I'll have to do some investigating, but the easiest solution may just be for us to rename the k8s_info.py action plugin to something else like base.py.

[2021-08-16 09:10] haroonb opened #203 "k8s_scale doesn't honor wait_timeout"
##### SUMMARY
k8s_scale module doesn't wait for Deployment to reach desired state.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.k8s_scale:

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

wait for the deployment and statefulset to reach desir

[2021-08-17 11:46] cortex3 opened #206 "Different documentation on website"
##### SUMMARY
The documentation file in this repository differs from what is displayed on the ansible website.
See for example the difference in the requirements section:
https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_module.html#requirements

edit:
I've just noticed that the page appears to be identical to the one of the old module:
https://docs.ansible.com/ansible/latest

[2021-08-17 13:02] gravesm commented on #206
Hi @cortex3, sorry for the confusion. I'll try to clarify. The docs you find in this repo are for the currently developed main branch. The docs on docs.ansible.com are for the version that is packaged with the ansible community release--what you get when you install https://pypi.org/project/ansible/. The current version (ansible 4.4) contains the 1.2 branch of both this collection and the communit

[2021-08-17 13:54] cortex3 commented on #206
Hi @gravesm,
thank you for the fast response and thank you for your work on this project.
My apologies I was not aware that this module is still shipped with ansible because of the banner at the top saying:
[code]

I've installed the module via ansible-galaxy and had trouble setting it up because I wasn't aware of the new requirements.
I was trying to save others from having the same issue with th

[2021-08-17 14:36] gravesm opened #207 "Document multiple templates"
##### SUMMARY

The 2.0 changes to the template param in the k8s module aren't documented. The description of the param should mention multiple templates can be provided and we should also add some examples.

For reference, here is the PR: https://github.com/ansible-collections/kubernetes.core/pull/49

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

k8s
##### ANSIBLE VERSION

[code]

[2021-08-19 10:55] Akasurde commented on #94
I will go ahead and close this issue. Thanks.

[2021-08-19 10:55] #94 closed

[2021-08-19 10:56] Akasurde commented on #104
I will go ahead and close this as there is no response from the reporter. Please feel free to open a new issue if the problem persists. Thanks.

[2021-08-19 10:56] #104 closed

[2021-08-19 14:52] #207 closed

[2021-08-20 12:45] gravesm commented on #206
I'm going to go ahead and close this. Feel free to reach out if you are still having problems.

[2021-08-20 12:45] #206 closed

[2021-08-22 01:40] artiommocrenco opened #210 "Using dots for value keys in kubernetes.core.helm.values yields unexpected results"
##### SUMMARY
Using dots for value keys in kubernetes.core.helm.values yields unexpected results

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.helm

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 11

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Executing this play:

Expected to yield a 10G

[2021-08-22 01:46] artiommocrenco commented on #210
This seems to work
[code]

[2021-08-22 02:20] artiommocrenco commented on #210
This seems to be according to the module docs and YAML specs, closing in case someone get into that rabbit hole

[2021-08-22 02:20] #210 closed

[2021-08-27 11:06] stiller-leser opened #214 "kubernetes.core.k8s_info kind: Event prints events in ansible-operator log"
##### SUMMARY
[code]

When used in the ansible-operator the events are printed to the log output, eventhough
[code]

I am aware that this is potentially an operator issue, but the "Events" part is the only one where everything is printed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes.core.k8s_info:

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURA

[2021-08-27 16:22] #214 closed, assigned to nobody

[2021-08-30 09:31] #139 closed

[2021-09-01 09:48] Andersson007 opened #219 "community.kubevirt collection is totally broken because of changes related to this collection"
##### SUMMARY
Now the [community.kubevirt](https://github.com/ansible-collections/community.kubevirt) collection **is totally broken**.

It has  the `community.kubernetes` collection as a dependency.

If we change imports, etc to `kubernetes.core` like in https://github.com/ansible-collections/community.kubevirt/pull/23, it starts failing because of the code changes here.

For example (these only

[2021-09-01 09:49] Andersson007 commented on #219
cc @gundalow FYI

[2021-09-01 18:05] Andersson007 commented on #219
https://github.com/ansible-collections/community.kubevirt/pull/25
https://github.com/ansible-collections/community.kubevirt/pull/26

[2021-09-02 08:11] #219 closed

[2021-09-04 09:26] itaru2622 opened #222 "k8s_cp doesn't work correctly when deployed container's WORKDIR is other than '/'"
##### SUMMARY

k8s_cp doesn't work correctly when k8s container deployed with WORKDIR other than '/'.
on uploading( state:to_pod ), k8s_cp copies to ${WORKDIR}/${remote_path} but not ${remote_path} even given remote_path is full path ('/tmp/...')

some docker image sets WORKDIR(workingDir in k8s) other than '/' , like official golang image sets to /go,
then, k8s_cp cannot work with such container.

[2021-09-05 01:38] itaru2622 commented on #222
to maintainers,
I investigated some about this issue and found that:
- k8s_cp just calls REST API of /api/v1/namespaces/{namespace}/pods/{name}/execusing via connect_get_namespaced_pod_exec in kubernetes.client.api.core_v1_api

- there is no param to change directory before executing command in the above REST API.
- fortunately, tar command (which k8s_cp using) has special option '-C /changeDirect

[2021-09-05 14:17] talcoh2x opened #224 "label_selectors -set list of label dynamically"
Hi all, need your help please
I'm trying on k8s_info + jinja add list of label  dynamically.
for example label_selectors will get list of label dynamically

statis label:
[code]

dynamic label:

[code]

[2021-09-06 06:15] talcoh2x commented on #224
label_selectors: ["{{ label_table | join(',') }}"]
work for me
please close

[2021-09-07 08:55] #224 closed

[2021-09-07 09:02] abikouo commented on #222
Hi @itaru2622

Thanks for taking the time to report this issue and provide full details to reproduce.
Thanks also for the pull request, we will take some time to review it.

[2021-09-07 15:35] abikouo commented on #156
@rendhalver the ``helm`` module is already running ``helm repo update`` when parameter ``update_repo_cache`` is set to True.

[2021-09-07 23:12] rendhalver commented on #156
Ah I had seen that before but didn't want to update the cache each time.
I have found a way around this by using the `chart_repo_url` option on the `helm` module which seems to do the job.

I will close this for now.

Thanks for the help.

[2021-09-07 23:12] #156 closed

[2021-09-08 14:37] itaru2622 opened #229 "k8s_exec's return value has no rc but 'return_code'"
##### SUMMARY

ansible document says about return value in https://docs.ansible.com/ansible/latest/reference_appendices/common_return_values.html#rc
[code]
k8s_exec doesn't have attribute 'rc' but 'return_value' as follows:
https://github.com/ansible-collections/kubernetes.core/blob/ddbc1611218c91cc608ee6efc950602783f61d78/plugins/modules/k8s_exec.py#L181-L187

as the result, migration cost increa

[2021-09-10 09:47] DrackThor commented on #156
Hi @rendhalver! Could you please post your task?
I did not quite understand how you've achieved to update your added helm repos only once?
I've tried with..
`yaml
- name: repo update
  kubernetes.core.helm:
    update_repo_cache: yes
`
.. but this does not work :/

[2021-09-13 10:21] #229 closed

[2021-09-13 16:51] #222 closed

[2021-09-16 15:09] abikouo commented on #39
closes by https://github.com/ansible-collections/kubernetes.core/pull/225

[2021-09-16 15:09] #39 closed

[2021-09-16 15:11] gravesm commented on #193
2.2.0 has been released.

[2021-09-16 15:11] #193 closed

[2021-09-16 16:17] goneri opened #237 "k8s_cp does not delay module load"
##### SUMMARY

update: k8s_cp does not use the turbo mode at all.

Before `k8s_cp`'s main() is called, all the resources have to be loaded. This has an negative impact of the performance boost that we can get with turbo mode. Turbo mode works in two steps:

- regular: load the module, evaluate the parameters and send the module to the background daemon.
- in the background daemon: load the module

[2021-09-17 10:54] abikouo commented on #203
Hi @haroonb,

Thanks for taking the times to report this issue.
I tried to reproduce but was not able, using this playbook

[code]

Here is the output:

[code]

As you can see the code uses to wait is expecting the resource to reach the desired state:

https://github.com/ansible-collections/kubernetes.core/blob/a27c701afe597aff6da65331bcdbb70b529a67f3/plugins/module_utils/common.py#L395-L425

Coul

[2021-09-21 08:45] darac79 opened #240 "kybernetes.core dependency to "ansible.builtin.meta" plugin cannot be resolved and may not be declared properly"
##### SUMMARY

I am implementing a role that utilizes kybernetes.core and cloud.common collections to deploy to openshift using kubernetes.core.k8s. When executing the role locally (without a /meta/main.yml file in the role) it works without errors. As soon as I define its dependencies by creating a meta/main.yml (as I want to turn it into a galaxy role) a warning is prompted at the end of the exe

[2021-09-21 09:17] Akasurde commented on #240
@darac79 Thanks for reporting this issue. The content should be -

[code]

[2021-09-21 13:06] goneri opened #241 "CI fails with "Resource scaling timed out""
##### SUMMARY
Hi,

This CI run has failed with a "Resource scaling timed out". It also happens that this run was using Turbo mode.
https://dashboard.zuul.ansible.com/t/ansible/build/18a8bf9cef1a4f4c8e8e6211efd2686f

[code]

Is this a common error?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

CI

[2021-09-21 13:18] gravesm commented on #241
Yeah, I already have a PR to address this. Should have it ready in a minute.

[2021-09-21 17:51] gravesm opened #243 "k8s_rollback does not support check_mode"
##### SUMMARY

The k8s_rollback module claims to support check mode, but it does not. This should be easy to do with dry run, but since we are still supporting older kubernetes client versions we will also need a non-dry run solution.

We should also add a check_mode test.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_rollback
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[co

[2021-09-22 12:41] gravesm opened #244 "k8s_scale does not support check mode"
##### SUMMARY

The k8s_scale module claims to support check mode, but it does not. In this case, trying to use check mode results in an exception because the `result` variable in the following block is not bound: https://github.com/ansible-collections/kubernetes.core/blob/a27c701afe597aff6da65331bcdbb70b529a67f3/plugins/modules/k8s_scale.py#L267-L270

In addition to fixing the bug, we should add a

[2021-09-22 22:33] #241 closed

[2021-09-23 10:24] itaru2622 opened #246 "k8s_cp nor k8s_exec cannot work with http proxy authentication."
##### SUMMARY

k8s_cp nor k8s_exec cannot work with http proxy authentication.
both can work only when http proxy need no authentiation.

I tested most patterns for http proxy auth as described in docs/kubernetes.core.k8s_xxx_module.rst
 - environment variables : K8S_AUTH_PROXY_HEADERS_BASIC_AUTH and K8S_AUTH_PROXY_HEADERS_PROXY_BASIC_AUTH
 - specifing proxy_headers  block with basic_auth and prox

[2021-09-23 11:55] itaru2622 commented on #246
how to setup http proxy with basic authentication, powered by squid

/etc/squid/squid.conf:
[code]
setup account and run squid and test proxying:
[code]
k8s_cp and k8s_exec failed if  squid proxy has above configuration.
when you comment out block named ' requiring basic authentication', both k8s_cp and k8s_exec can work.

[2021-09-23 12:27] gravesm commented on #246
@itaru2622 Thanks for the detailed bug report. This looks to be a problem with the underlying kubernetes client. I believe the proxy auth is not being set on the connection here: https://github.com/kubernetes-client/python-base/blob/b0afc93ffabb66d930abcdfb1255214d167bf8d5/stream/ws_client.py#L450. I'll take a closer look and try and get a PR submitted soon.

[2021-09-25 05:43] itaru2622 commented on #246
@gravesm thank you for your investigation.

I found https://github.com/kubernetes-client/python-base/pull/230 which requests fixing same issue, but it is closed before merging by bot.
PR 230 takes different approach than kubernetes.core doc but the modification to stream/ws_client.py would be almost the same.

I'm glad your help for this issue.

[2021-09-25 11:58] itaru2622 commented on #246
@gravesm I checked sources and found the following lines in common.py

https://github.com/ansible-collections/kubernetes.core/blob/d01e4a6e4d52cb94a14438331b89f11625c6b0b5/plugins/module_utils/common.py#L202-L204

so, the patch for this issue could be something below, because configuration.proxy_headers are stored as HTTP header dictionary:

[code]

I don't know how to implement e2e_test for above

[2021-09-27 12:11] Akasurde commented on #240
@darac79 Can you please confirm if the above solution works for you? Thanks,

needs_info

[2021-09-28 14:28] darac79 commented on #240
@Aksurde ... thanks works. Whith amended collection names the error disappears ... sorry for bothering you

[2021-09-28 14:28] #240 closed

[2021-09-28 16:29] #67 closed

[2021-09-29 03:46] Akasurde commented on #240
@darac79 No issue. Thanks for reporting back.

[2021-09-29 11:06] #157 closed

[2021-09-29 11:49] itaru2622 commented on #246
@gravesm please let me know how to debug plugins/modules/k8s_xxx.py and/or plugins/module_utils/*.py

I want to print debugging message but It couldn't succeed it. even messages by plugins/connection/kubectl.py out.

I know that: plugins/connection/kubectl.py and plugins/inventory/k8s.py using "ansible.utils.display.Display"
when I implemented almost the same code in plugins/module/k8s_xxx.py, but

[2021-09-29 12:01] gravesm commented on #246
@itaru2622 The problem is that modules are run in a separate process, so the messages won't go to stdout for the main controller process. The easiest thing to do is to use something like https://github.com/zestyping/q.

[2021-09-29 15:20] abikouo commented on #69
@ieugen I will close this issue for now, feel free to re-open it if needed.

[2021-09-29 15:20] #69 closed

[2021-09-29 16:21] #33 closed

[2021-09-30 02:37] kaovilai opened #248 "Expose `kubectl delete <type> <name> --force`"
##### SUMMARY

Enable force deletion of objects.
[See `kubectl` DeleteOptions](https://github.com/kubernetes/kubectl/blob/0f88fc6b598b7e883a391a477215afb080ec7733/pkg/cmd/delete/delete.go#L110)
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

k8s
##### ADDITIONAL INFORMATION

This feature would be used to clean up infrastructure before clean re-deployment of workloads. Data loss is not a con

[2021-09-30 10:21] abikouo commented on #248
@kaovilai thanks for this feature request, we will try to work on this when having some free time.

[2021-09-30 13:23] gravesm commented on #248
@kaovilai This is already possible by setting the `gracePeriodSeconds` to 0. The `--force` flag in kubectl is just there to ensure the user knows what they are doing. Behind the scenes it just makes sure the grace period is set to 0. Could you let us know if this is working for you?

[2021-09-30 14:34] kaovilai commented on #248
@gravesm just retested.. it appears to work similarly just by setting gracePeriodSeconds to 0. Thanks!

[2021-09-30 14:34] #248 closed

[2021-09-30 15:51] abikouo commented on #35
@alaypatel07 @FWiesner @jkupferer collection now support ``generateName`` added in #238
Feel free to test it and provide feedback.
Thanks

[2021-09-30 15:51] #35 closed

[2021-10-01 07:08] FWiesner commented on #35
@abikouo thanks!

[2021-10-01 16:02] abikouo commented on #87
Waiting for approval on k8s python client.
https://github.com/kubernetes-client/python-base/pull/254

[2021-10-01 18:04] itaru2622 commented on #246
@gravesm thank you for your help. I finally got a test-ok code different than the above through debugging.

I will post PR to https://github.com/kubernetes-client/python-base ...

[2021-10-05 08:04] abikouo commented on #237
Thanks @goneri for the feedback, I will work on this one.

[2021-10-12 17:24] rlopez133 opened #262 "Creating a volumesnapshot with community.kubernetes.k8s faisl"
##### SUMMARY
I'm currently trying to Create a volumesnapshot and getting an error when I attempt to create it via the following task

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Trying to use the community.kuberentes.k8s module

##### ANSIBLE VERSION

[code]
$ ansible-galaxy collection list community.kubernetes
Collection           Version
-------------------- -------
community.ku

[2021-10-20 19:46] michohl opened #268 "Unable to Run k8s_info Module on Fresh Install"
##### SUMMARY

On a fresh install of the collection I get an error when trying to run the k8s_info module regarding not finding either `AnsibleTurboModule.py` or `module.py`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSLv1 based installation of Ubuntu 20.04 LTS

[2021-10-21 23:33] itaru2622 commented on #246
@gravesm

Yes.
my PR to kubernets-client/python-base and kubernets-client/python were already merged.
I confirmed kubernetes.core worked with them when latest master branch of kubernets-client/python installed as below:
[code]

unfortunately, new kubernetes-client with my PR is not released yet( I mean new  version number  is not assigned yet),
so this issue is still open at this moment. I will cl

[2021-10-21 23:56] anantmishra opened #270 "Apply resources from a directory containing kustomization.yaml"
##### SUMMARY
Apply resources from a directory containing kustomization.yaml. This is equivalent to running the command:

[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
kubernetes.core.k8s

##### ADDITIONAL INFORMATION
Essentially it is equivalent to running the command **kubectl apply -k /path/to/my/manifest-directory** in case the state is present. Incase the state is absent the r

[2021-10-22 12:55] #268 closed, assigned to nobody

[2021-10-26 01:41] itaru2622 opened #271 "add no_proxy support to k8s*"
##### SUMMARY

current kubernetes.core supports parameter for proxy but NOT no_proxy.
as the result, operator needs to set/unset proxy according to the target clusters.
it is bothering task because kubectl supports both proxy and no_proxy environment variables.

no_proxy is supported in latest kubernetes python library (since kubernetes>=19.15.0).
so lets support it in kubernetes.core for ansible.

[2021-11-01 14:50] gravesm commented on #270
@anantmishra The latest release of this collection has support for kustomize: https://github.com/ansible-collections/kubernetes.core/blob/main/docs/kubernetes.core.kustomize_lookup.rst. Does this solve your problem?

[2021-11-01 22:48] anantmishra commented on #270
@gravesm Thanks a lot for providing the link. You are right, this is what I was looking for.

[2021-11-01 22:48] #270 closed

[2021-11-03 17:39] samccann opened #275 "Add deprecation documentation to community.kubernetes"
##### SUMMARY

I'm cheating here because I can't open an issue on community.kubernetes.  Currently with that collection deprecated, the module docs disappear from docs.ansible.com with no hints as to where they've gone to:

![image](https://user-images.githubusercontent.com/30267855/140162597-68610a11-48d4-4579-ae78-f4a972359c53.png)

We can add a Deprecation Notice document to  the community.kube

[2021-11-04 16:49] jeromewaibel opened #277 "lookup plugin ignores K8S_AUTH_KUBECONFIG variable"
##### SUMMARY
The documentation says the kubeconfig parameter can also be specified in an environment variable ("Can also be specified via K8S_AUTH_KUBECONFIG environment variable.") yet this variable is ignored when set inside a playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lookup('kubernetes.core.k8s')

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### CONFIG

[2021-11-04 17:40] gravesm commented on #277
@jeromewaibel This is a function of the way Ansible works. Lookup plugins are run on the controller, so any environment variables would need to be set on the controller. The `environment` parameter sets environment variables on the remote node.

If you were to do something like:
[code]
it should work.

[2021-11-04 18:22] #275 closed

[2021-11-05 11:11] jeromewaibel commented on #277
OK thanks, today I learned ...

Specifying the variable from shell works fine.

[2021-11-05 11:11] #277 closed

[2021-11-10 16:56] gravesm opened #280 "Tests failing because of timeout"
This issue will be used to track tests that fail due to timeouts. This is a recurring problem with our CI. If you have a build that fails because of a timeout, link the test here. **Please don't close this issue**.

- [ ] https://github.com/ansible-collections/kubernetes.core/blob/bf26f5a3be025822f8f26250c09f39d8ff73da11/molecule/default/roles/helm/tasks/tests_chart.yml#L290

[2021-11-10 18:25] #271 closed

[2021-11-11 19:28] erikgb commented on #126
@abikouo The blocking upstream PR seems merged now. Any chance to take a look at this now?

[2021-11-11 20:09] gravesm commented on #126
@erikgb yes, we are working on it.

[2021-11-12 23:14] skovbakke opened #281 "Support updating helm repositories"
##### SUMMARY

The `kubernetes.core.helm_repository` module supports updating helm repositories, i.e. `helm repo update`. When a new version of a chart becomes available in a remote repository the local information about the repository is updated making the new version available for install.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

helm kubernetes.core.helm_repository

##### ADDITIO

[2021-11-15 14:39] gravesm commented on #281
@skovbakke The `helm` module has an `update_repo_cache` option which does what you are asking. Does this solve your problem, or is there another use case we should consider?

[2021-11-15 16:19] gravesm commented on #262
@rlopez133 Can we close this one? I think you mentioned you managed to get this working?

[2021-11-15 16:49] skovbakke commented on #281
Yes, sorry, I must have missed that. That is exactly what I need.  Thank you!

[2021-11-15 16:49] #281 closed

[2021-11-15 16:51] rlopez133 commented on #262
@gravesm - yes I did. Thanks!

[2021-11-15 16:51] #262 closed

[2021-11-17 13:25] #40 closed

[2021-11-23 03:35] jobcespedes opened #291 "turbo mode for lookup and inventory plugins"
##### SUMMARY

Add turbo mode for lookup and inventory plugins
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

plugin
##### ADDITIONAL INFORMATION

It will be used with Ansible Operator SDK to improve perfomance not only when using modules, but when using lookup and inventory plugins

N/A

[2021-11-23 22:01] akamac commented on #87
I see it's been merged :)

[2021-11-24 06:24] abikouo commented on #87
Yes but not yet released

[2021-11-24 15:54] felipe4334 opened #292 "k8s_drain not working properly with 'state: drain'"
##### SUMMARY
when using module k8s_drain with state: drain it outputs an error of "local variable 'pod_names' referenced before assignment"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.k8s_drain  with option: "state: drain"

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cent OS 7

##### STEPS TO REPROD

[2021-11-24 15:55] felipe4334 commented on #292
state: cordon works as expected.

[2021-11-25 06:06] Akasurde commented on #292
I'm investigating.

[2021-11-26 01:02] quietsnail opened #293 "[Twistlock scan]ansible_collections/kubernetes/core/molecule/default/roles/k8scopy/files/hello security issue"
##### SUMMARY
High security issue in twistlock scan for `/opt/ansible/.ansible/collections/ansible_collections/kubernetes/core/molecule/default/roles/k8scopy/files/hello`

##### ISSUE TYPE
- Bug Report -Security

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTE

[2021-11-29 05:12] Akasurde commented on #293
@quietsnail Thanks for reporting this issue. I think the file reported in this security report belongs to the test directory. In a CI environment, every CI run creates a new test environment. In my opinion, this is OK. If you think this is still an issue, please go ahead with a PR and will merge it.

Thanks,

[2021-11-29 05:13] Akasurde commented on #293
cc @gravesm @abikouo

[2021-11-29 11:09] RafalSkolasinski opened #294 "Ansible's k8s module cause GKE to go into repair state?"
##### SUMMARY

Over last half a year we migrate our scripts that installs whole ecosystem into k8s from bash to ansible (bunch of 3rd party operators and deployments like Istio, Knative, EFK, etc, etc... - public [roles](https://github.com/SeldonIO/ansible-k8s-collection/tree/master/roles) for reference).

In general, everything works great. The abstraction that Ansible provided over different typ

[2021-11-29 14:31] gravesm commented on #294
@RafalSkolasinski thanks for reporting. This is not something we have observed or had other reports about, but we aren't testing against GKE specifically. Once you have some steps to reproduce, let us know and we can look into it. Would be curious to know if you have seen this anywhere else besides GKE?

[2021-11-29 15:44] RafalSkolasinski commented on #294
I will let you know once we learn anything more. So far we only realised it is happening in zonal clusters and regional ones seems to be robust to it - though it may mean that cluster still goes into "repair state" but because of duplicated control planes it stays responsive.

No, only GKE. Local `kind` clusters seems to be robust to it.

[2021-11-29 16:05] gravesm commented on #291
@jobcespedes Thanks for the feature request. Adding turbo mode to the lookup plugins should be doable. I'm not sure I see how the inventory plugin would benefit from this as it's only called once at the start. I may be missing something, though?

[2021-11-29 16:19] jobcespedes commented on #291
Thanks for the reply and consideration. I mentioned the inventory plugin with one possible use case in mind: inventory plugin running inside an Ansible Operator. There, many reconciling loops may run frequently for several CR, using an inventory plugin. However, there might be some work to be done before:

- cloud.common does not yet offer an implementation for an inventory plugin
- operator SDK d

[2021-11-30 06:59] Akasurde commented on #292
@gravesm Thanks for taking a look.

@felipe4334 Could you please check if PR #295 works for you and let us know? Thanks in advance.

[2021-11-30 06:59] Akasurde commented on #292
resolved_by_pr #295

[2021-11-30 09:07] #292 closed

[2021-12-01 10:24] smcavoy commented on #293
I was packaging Ansible for Alpine Linux and this file caused an issue on non-X86_64 systems. It can be worked around with a patch removing the file but I was wondering if it is normal to accept binaries, even for ci-tests?

[2021-12-01 10:45] leegarrett opened #297 "kubernetes.core ships a binary without coresponding source"
##### SUMMARY
`molecule/default/roles/k8scopy/files/hello` is an unstripped go binary for x64_64, which does not come with source code, and does not have the corresponding build rules in place to build it. This unfortunately violates the GPLv3, and makes it undistributable by downstream distributions (in this case Debian).

It would be great to have it also be built by the build command in the Mak

[2021-12-01 11:11] Akasurde commented on #297
@abikouo Would you like to answer this? Thanks in advance

[2021-12-01 12:10] gravesm commented on #297
I'm not sure there's a compelling reason to ship a binary at all. The only thing that binary is used for is to test whether or not k8s_cp can successfully transfer a binary file. Is there a reason we can't just generate random binary data during the molecule test and compare the hashes of the two files?

[2021-12-01 20:00] #297 closed

[2021-12-01 20:00] #293 closed

[2021-12-02 18:30] noahjd opened #299 "kustomize command failed with: Error: evalsymlink failure on './overlays/{{ env }}'"
##### SUMMARY
Trying to use the kustomize lookup plugin to build resources in ansible like below:
kubernetes.core.k8s:
        state: present
        # definition: "{{ lookup('file', '{{ item }}.yaml') }}"
        definition: "{{ lookup('kubernetes.core.kustomize', dir='./overlays/{{ env }}') }}"
        kubeconfig: ./kubeconfig
        context: "{{ k8s_cluster_context }}"
        wait: no

[2021-12-02 19:06] gravesm commented on #299
@noahjd This is a problem with your syntax. You can't nest `{{ }}` within other `{{ }}` and get variable interpolation. If you change your `definition` param to:
[code]
it should work.

[2021-12-02 19:23] noahjd commented on #299
@gravesm That resolved my issue, thank you. It's just weird because I have similar lookups using nested curly braces.

[2021-12-02 19:29] gravesm commented on #299
Glad to hear it's resolved.

[2021-12-02 19:29] #299 closed

[2021-12-02 21:22] akamac opened #300 "add support to pass flags to kustomize"
##### SUMMARY
I would like to be able to pass `--load-restrictor=LoadRestrictionsNone` to `kustomize` lookup call.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`plugins/lookup/kustomize.py`

[2021-12-02 21:32] nkadel opened #301 "Create new tag to avoid "hello" binary"
##### SUMMARY
The latest tag for kubernetes.core contains the "hello" compiled binary. That tag is used by antsibull to create the ansible-5.0.1 tarball, which winds up with this unwelcome and platform incompatible binary.

Updating the tag would allow antsibull to cmpile a cleaner and safer tarball.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core

##### ANSIBLE VERSION
ansibl

[2021-12-06 05:05] Akasurde commented on #301
FYI This binary is removed now via https://github.com/ansible-collections/kubernetes.core/pull/298. Release still pending.

[2021-12-08 13:02] gravesm commented on #301
Release done.

[2021-12-08 13:02] #301 closed

[2021-12-10 07:29] mohag commented on #156
It works, with lots of gymnastics.... (some of this is due to bugs in the version bundled with Ansible 4.5., like HELM_KUBECONTEXT, which is fixed in the current version here)

The task equivalent to `helm repo update` is:

[code]
(with some stuff specific to my playbooks)

[2021-12-16 16:48] #87 closed

[2021-12-17 18:47] TravisAbram commented on #292
I still have this issue.

Collection Version: `kubernetes.core 2.2.2`

Error message
[code]

Traceback shows an error on the same line https://github.com/gravesm/kubernetes.core/blob/52f92b74fe29e3a295720dcb98e14b967ec7d8ba/plugins/modules/k8s_drain.py#L186 regardless of whether `force` is set to true or false.

Force: yes
[code]

Force: no
[code]

[2021-12-20 07:52] derhoeppi opened #312 "Can't get data from k3s"
##### SUMMARY
After installing this ansible collection and all pre-requirments i cannot receive any data from k3s. Everytime i get the message "Failed to load kubeconfig due to Invalid kube-config file. No configuration found."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.k8s_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

[2021-12-20 09:02] #312 closed

[2021-12-22 10:19] Alfedi opened #313 "Missing flags on template module"
##### SUMMARY

Template command has a lot of flags not available in the `helm_template` module, for instance you cannot set a namespace to the generated template or a name.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`helm_template`
##### ADDITIONAL INFORMATION

This will simply add at least the same parameters as the `helm` module. This way the module will be as useful as the helm temp

[2021-12-25 21:12] BeppeTemp opened #315 "Helm repositories not added"
##### SUMMARY
When I perform a task for adding a repository, even if the result is ok, connecting via ssh to the host and launching helm repo update, the repository does not appear.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.helm_repository

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION
My tasks are:
[code]

Helm installed via the fo

[2021-12-28 07:56] Akasurde commented on #315
@BeppeTemp Thanks for reporting this issue. I am not able to reproduce this at my end.

[code]

Could you please provide output for `helm repo list` on the given machine? Also, `-vvv` output for the play run.

[2021-12-28 10:23] VannTen opened #316 "Document usage of kubernetes.core.helm to do a `helm repo update`"
##### SUMMARY

The documentation for `kubernetes.core.helm`, option `update_repo_cache` says the following (emphasis mine):
[code]
However, how to update the repo cache as a separate step is not obvious. One has to do ["lots of gymnastics"](156#issuecomment-990682141) :
[code]
This workaround should be documented, or maybe a more explicit way could be added ?

##### ISSUE TYPE
- Documentation Repo

[2021-12-28 10:53] Akasurde commented on #316
@VannTen Thanks for reporting this. Do you think we should add this example in `EXAMPLES` section?

[2021-12-28 11:35] VannTen commented on #316
On Tue, Dec 28, 2021 at 02:53:41AM -0800, Abhijeet Kasurde wrote:

Seems OK to me. I can do a PR if you want.

[2021-12-28 12:04] Akasurde commented on #316
Sure go ahead and ping me in that PR.

[2021-12-29 13:50] rradecki-migo opened #318 "kubernetes.core.k8s - 'Connection refused' when server is set to http://localhost:8080 in kubeconfig file"
##### SUMMARY
On AWS EKS cluster a pod configured with IRSA (IAM role for service account) k8s service account is not able to connect to k8s api internally through http://localhost:8080 when kubernetes.core.k8s module is used. Same kubeconfig file works well for kubectl binary.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`kubernetes.core.k8s`

##### ANSIBLE VERSION
[code]

##### COLLECTIO

[2021-12-29 15:06] forselli-stratio opened #319 "kubernetes.core.helm does not uninstall charts in pending-install status"
##### SUMMARY
The module kubernetes.core.helm does not uninstall charts that are in a pending-install, pending-upgrade or similar STATUS

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.helm

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.13.7
PRETTY_NAME="Alpine Li

[2021-12-29 18:56] macster84 commented on #33
_Quick question:_
I cannot find this to be contained in the 2.2.2 release.
Which release we can expect this to be included?

Many thanks in advance

[2021-12-30 04:25] jsolbrig opened #320 "Wait should apply all resources in definition before blocking"
##### SUMMARY

I am attempting to deploy an application that contains multiple resources using `kubernetes.core.k8s` where the definition is provided by a call to the `kubernetes.core.kustomize` lookup. Once the resources have been submitted to the cluster, I want to wait for its Pods to become ready before moving on to the next step.

What I'm noticing is that the "wait" appears to occur after ea

[2022-01-04 14:05] gravesm commented on #292
Hi @TravisAbram, the traceback suggests you are not actually using version 2.2.2. The first line of the traceback: `line 303, in delete_or_evict_pods`. This does not line up for version 2.2.2, but does for previous versions.

[2022-01-04 14:15] gravesm commented on #313
Thank you for the suggestion @Alfedi.

[2022-01-04 15:36] goneri commented on #300
Hi @akamac,

Thanks for the suggestion. The main problem I see with something like that is the idempotency. It will be really hard to figure out if the state has changed.

[2022-01-04 16:35] gravesm commented on #318
@rradecki-migo Thank you for reporting this. I don't have an EKS cluster to test with at the moment, but I just tested locally with kind and can reproduce the behavior. I believe what's happening is kubectl is using in-cluster config, which is why it is able to successfully connect to the cluster API. You can trigger the k8s module to use in-cluster config by not specifying the `kubeconfig` parame

[2022-01-04 17:16] gravesm commented on #320
@jsolbrig Thanks for the detailed report. In addition to the workaround you listed, the k8 module has a `continue_on_error` parameter designed for this case. When set to `true`, a resource action that fails, including waiting on that resource, will not block progress on other resources. I believe between your workaround and the `continue_on_error` parameter, this should provide the flexibility to

[2022-01-04 17:20] jsolbrig commented on #320
I think you're right that between `continue_on_error` and my workaround it should be enough to address the issue, but if that is the way it should work, it should probably be documented. It's not too hard to figure out how to work around the problem, but I'd hate for everyone who tries to use the package the same way as me to need to fumble with it long enough to find the workaround.

[2022-01-05 14:37] jorneilander commented on #292
This is incorrect, in `2.2.2` this is most definitely still an issue: https://github.com/ansible-collections/kubernetes.core/blob/d8538ffed300e4248cf2d017e425e6aeb179e3ad/plugins/modules/k8s_drain.py#L303

It is however, fixed in `main`: https://github.com/ansible-collections/kubernetes.core/blob/b19ff9d70a6ad2efc17a995edf3f348deb67d603/plugins/modules/k8s_drain.py#L303

[2022-01-11 10:52] #166 closed

[2022-01-12 13:06] gravesm commented on #126
Closing as this is now possible in Ansible 2.12.

[2022-01-12 13:06] #126 closed

[2022-01-12 15:17] s-hertel opened #324 "module_defaults difficult to use due to redirection"
##### SUMMARY
This was initially reported in https://github.com/ansible/ansible/issues/76687.

I started working on a patch:
<details>
  <summary>Click to expand my diff</summary>

[code]

</details>

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes.core.k8s_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##

[2022-01-12 15:26] gravesm commented on #324
@s-hertel Thanks. I think this is the same as #202. I wondered if possibly just renaming the action plugin would be a solution. I believe the only reason it is named k8s_info is for historical reasons.

[2022-01-12 15:35] s-hertel commented on #324
@gravesm Yes, this looks like a duplicate of #202. Sorry, I didn't spot it :smile:

The name doesn't really matter, it's the fact that the redirects that all go to the same place that cause this: c76aa6e45a4ad4760add22b5fb04cfbcf59cd914

I don't understand the bug that commit fixed though.

[2022-01-12 15:35] s-hertel commented on #324
Closing as a duplicate

[2022-01-12 15:35] #324 closed

[2022-01-12 15:54] gravesm commented on #324
OK, thanks for the explanation. I confess to having a poor understanding of how redirects interact with action plugins. The k8s_info action plugin really needs to be revisited anyways. At the very least, I think we can split it out into a k8s action plugin and a helm action plugin.

[2022-01-12 15:54] s-hertel commented on #202
Does removing the redirects break something else? Since the action plugins are all symlinks of k8s_info anyway, that seems to fix the issue:
[code]

The [commit](c76aa6e45a4ad4760add22b5fb04cfbcf59cd914) mentions added those lines are necessary because "It is problematic when FQCN
is not provided."  but I'm unable to spot the issue with a simple playbook like:
[code]

[2022-01-12 15:57] s-hertel commented on #324
@gravesm :+1: I'm following the other issue and will pitch in if I have more thoughts. I know module_defaults + redirects is complicated, especially when action plugins are thrown into the mix.

[2022-01-13 14:47] #316 closed

[2022-01-13 16:29] erikgb commented on #126
@gravesm I tested this now with Ansible 5 (ansible-core 2.12), and I get the following error:
[code]

I have tried the following syntax:
[code]

Reading [the docs](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html#module-defaults-groups), it seems like something has to be added to `meta/runtime.yml` in this collection to be able to use group defaults. WDYT? Reopen i

[2022-01-13 16:56] gravesm commented on #126
Hi @erikgb, you have to specify the group name in your module defaults. There are currently two group names defined for this collection--`k8s` and `helm`. For example:

[code]

[2022-01-13 17:01] erikgb commented on #126
@gravesm Thanks a lot for the explanation. I will give it another try. Thanks!

[2022-01-13 18:21] erikgb commented on #126
Strangely, I now get this "funny" error message, but that might be related to something else:
[code]

I am not using the `k8s_facts` - as far as I know (and I have checked all dependencies), but I will check this in a simpler play and eventually file another issue. Any clues/hints?

[2022-01-13 18:28] gravesm commented on #126
Ah, sorry. This bug has been fixed on main but not backported to the 2.2 branch. I'll try to get a new 2.2 release out next week with this fix.

[2022-01-13 18:29] erikgb commented on #126
Ok, thanks! 🙏

[2022-01-13 19:39] gravesm commented on #292
Sorry, you are correct. This change did not get backported to the 2.2 branch. I'll try to get a new 2.2 release out next week that includes this fix.

[2022-01-19 12:48] er1z commented on #202
Any news on this issue? I'm struggling with work around in my playbooks because of this bug.

[2022-01-19 13:01] ebarped opened #341 "Add an example to create a kubernetes.io/dockerconfigjson secret"
##### SUMMARY
Add an example to create a kubernetes.io/dockerconfigjson secret

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
kubernetes.core.k8s

#### Description
I think that will be very valuable to the users to provide an example about how to create a k8s secret to allow kubelet download images from a registry.

Currently, im achieving this the "traditional" way:
[code]

[2022-01-19 13:08] erikgb commented on #202
Same here! Would be nice to get this fixed!

[2022-01-20 11:20] abikouo commented on #341
Hi @ebarped

Thanks for taking the time to report this issue.
Currently the kubernetes.core is not supporting specifically this feature, to do so you need to use the ``k8s`` module and manually create the definition of your secret.
Something like

[code]

The ``.dockerconfigjson`` should be created manually encoding credentials like the ones that could be found in ``~/.docker/config.json``

[2022-01-21 09:49] alinabuzachis opened #343 "k8s_service is not fully covered by integration tests"
##### SUMMARY

`k8s_service` is not fully covered by integration tests.

##### COMPONENT NAME

k8s_service

[2022-01-21 09:53] alinabuzachis opened #344 "k8s_rollback is not fully covered by integration tests"
##### SUMMARY

`k8s_rollback` is not fully covered by integration tests.

##### COMPONENT NAME

k8s_rollback

[2022-01-21 11:29] #341 closed

[2022-01-21 12:52] mrksngl opened #345 "k8s task fails to idempotently apply service with several similar port definitions"
##### SUMMARY

When using `kubernetes.core.k8s` with `apply: yes` to define a service with several "similar" port definitions, the task fails when applied a second time: not only that it reports to have something changed, it actually removes port definitions.
By "similar" I mean: same definitions except for their name and protocol.

Disclaimer: It might also be a bug of the kubernetes API: I think

[2022-01-21 15:13] gravesm commented on #345
@mrksngl Thanks for reporting this bug. The idempotency issue is something we could potentially address. The problem is that even if we addressed the idempotency bug we would still run into issues when modifying an existing service by changing the port number on a service with two ports, both having the same port number but different protocols. The port is defined as the patch merge key for the Se

[2022-01-21 15:23] mrksngl commented on #345
@gravesm thanks for the clarification. For now, I go with `apply: no` ;)

[2022-01-25 16:52] gravesm commented on #320
Thank you for the suggestion. At the moment, I think we would not consider changing the wait behavior as there are multiple ways to solve this problem. We can keep this open, though, to see if there is more interest in this. We may revisit the idea of different wait behavior in the future.

If there is a way the documentation could be made more clear, we would certainly welcome a PR for that.

[2022-01-26 08:41] Andersson007 opened #350 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-27 04:03] Akasurde commented on #350
@Andersson007 Thanks for the information.

[2022-01-27 09:04] RikuXan commented on #343
Maybe slightly off-topic, but what actually is the point of `k8s_service` in general?
It seems to be just a specialised and simplified version of the general `k8s` module, with slightly less Python requirements but also less powerful. Is this assessment correct ot are there functional differences between the two modules?

[2022-01-27 09:49] Akasurde commented on #343
@RikuXan Thanks for the feedback. You are right, `k8s_service` is a specialized and simplified version of `k8s` module which manages services on K8s. There will be similarities in tests for `k8s` which manages services and `k8s_service` module.

[2022-01-30 16:54] rabin-io opened #351 "Failed to find exact match for v1.Namespace by [kind, name, singularName, shortNames]"
##### SUMMARY

When trying to create a namespace for a new operator with OpenShift 4.9.15, I get this error message, when I run the playbook from a RHEL 8.2 node, but from my local machine running Fedora 35, I don't have this issue.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.k8s

##### ANSIBLE VERSION

* From RHEL 8.2 node (with the problem)
[code]
* From fedora 3

[2022-01-31 11:08] Akasurde commented on #351
@rabin-io Thanks for reporting this issue. Could you please mention the Kubernetes library version like -

[code]

[2022-01-31 11:13] Akasurde commented on #318
@rradecki-migo Could you please let us know if @gravesm's suggestion works? Thanks in advance.

[2022-01-31 11:15] Akasurde commented on #315
@BeppeTemp Could you please provide the update? Thanks in advance.

[2022-01-31 12:41] rabin-io commented on #351
On both nodes

[code]

[2022-01-31 12:48] rabin-io commented on #351
I tried to diff the zipped `AnsiballZ_k8s.py` files, to see if there is anything different in the generated output of the modules, but they seems to be the same.

[code]

[2022-01-31 15:37] jack1902 opened #355 "Ability to run `helm pull` as a task"
##### SUMMARY

Basically, i'd like the ability to run ansible to download a bunch of helm charts for use in a separate ansible playbook that wouldn't have any access to the internet.

`helm_pull` would download all packages locally for use by another ansible-playbook which assumes all charts already exist at a given path.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`kubernetes.core.hel

[2022-02-01 14:13] gravesm commented on #351
Per our debugging session, I'm going to close this as it seems to be working now. Feel free to reopen if needed.

[2022-02-01 14:26] Akasurde commented on #351
@gravesm Could you please the debugging steps and output here so that record them for future use?

[2022-02-01 14:36] gravesm commented on #351
The steps just involved me watching it get run. That was enough to make it work. My best guess is that there was probably something cached somewhere that was causing the problem and it eventually just expired. I don't have any other explanation for it. There's no reason I can see why it would have failed in the first place.

[2022-02-01 19:16] rabin-io commented on #351
@gravesm  I think you are right, I think it started working once I created a new user, and run the playbook from it. Running the playbook from the root user (yes I know, bad idea) still reproduce the error.

Another thing I like to add here, is the snippet code which can help to debug the problem, based on the location my playbook failed, and the stack trace.

[code]

[code]

[2022-02-01 20:07] gravesm commented on #351
Could you try running the following in a playbook and post the output?
[code]

[2022-02-01 22:11] asmacdo opened #358 "k8s_exec does not behave the same as kubectl exec on a pod with 2 containers."
##### SUMMARY
k8s_exec does not handle pods with multiple containers the same way kubectl exec does.

kubectl will default to one of the containers, but k8s_exec fails with an unhelpful 400 Bad Request.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_exec

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### OS / ENVIRONMENT
Fedora 33

##### STEPS TO REPRODUCE

1. Deploy a

[2022-02-02 04:24] Akasurde commented on #351
Thanks @gravesm @rabin-io

[2022-02-02 11:22] rabin-io commented on #351
Hi @gravesm, see the output below,
what wired is that I re-deployed the cluster last night, and I didn't encounter this issue.
but today, I rerun the job, and it failed again with the above message

[code]

[2022-02-02 15:15] gravesm commented on #351
Reopening this one. We'll need to find a way to reliably reproduce this. There's no obvious reason why it's randomly failing. The cluster info shows that the namespace resource exists.

[2022-02-02 18:12] goneri opened #361 "use ansible-test to run all the integration tests"
##### SUMMARY

Right now, we use two different solutions to run our functional tests. Both have their pros and cons. I suggest to standardize on ansible-test because this is what we already use for the other Content collections. This would simplify our future interaction with QE and redfuce the cost of the long term maintenance.

##### ISSUE TYPE
- Bug Report, kinda

##### COMPONENT NAME

- tests

[2022-02-02 18:50] jillr commented on #361
Thanks @goneri, I agree standardizing on ansible-test for now will simplify our current CI process.  We'll be sure to continuously re-assess the tools we use for testing as our devtools mature and grow to make sure we're always using the right things for the collection and the community.

[2022-02-02 20:17] tima commented on #361
This isn't a bug though. Fixing a problem in a CI test is one thing. Replacing a tool through standardization is a different story.

The problem is that ansible-test and molecule needs to be better integrated. Testing of Ansible content needs to be more frictionless, comprehensive and supported. Standardizing on one tool doesn't solve that, but rather "sweeps it under the rug." This isn't a proble

[2022-02-02 20:34] jillr commented on #361
I don't want to argue about verbiage here.

For transparency, @goneri I'm going to edit the description of this issue for you.  Thank you for all the work you're doing to keep CI running.

[2022-02-03 01:51] goneri commented on #280
I've increased the timeout to 2hours. Ideally, we should split these jobs.

[2022-02-03 13:44] gravesm commented on #280
Yeah. If we're going to switch to ansible-test, we should do that first, though. I think splitting the jobs will look very different for molecule as opposed to ansible-test.

[2022-02-03 14:42] rabin-io commented on #351
#### background info

* The playbook run on a Jenkins agent node, running RHEL (8.5)
* The job deploy OpenShift cluster every few hours for testing.
* The Jenkins agent node is dedicated for this job only.

#### Insights
One solution we found is related to the created CACHE file, under the `/tmp` folder prefiex with `k8srcp-*`, they remain on the node between deployment, so we have an old cache fi

[2022-02-03 16:01] gravesm commented on #351
Thanks @rabin-io for the wireshark capture. I think this explains things. I manually forced the kubernetes client to throw a 404 when trying to fetch resource information to write to the cache and am able to get the same failure behavior you are experiencing. I strongly suspect these 404 errors you are seeing in the wireshark capture are responsible.

I don't know why openshift is returning 404 fo

[2022-02-03 16:07] rabin-io commented on #351
Can it be that the module is trying to "refresh" cache based on the cache last values ?

As part of the deployment of openshift I do install odf/ceph, so it possible the cache file is updated, and when I reset the cluster and redeploy it again, the cache file contain the old reference to the ceph api which it try to query.

[2022-02-03 17:24] Akasurde commented on #358
@asmacdo Thanks for reporting this. Could you please check PR #363 and let me know if it works for you? Thanks in advance.

[2022-02-03 17:24] Akasurde commented on #358
resolved_by_pr #363

[2022-02-03 19:42] gravesm commented on #351
@rabin-io After talking with @fabianvf I think we may have a workaround for this in #364. If you'd like, you can try using the fix and see if that addresses the failure.

[2022-02-04 01:35] txynidakis opened #365 "kubernetes.core.helm_plugin namespace option"
##### SUMMARY
Include a 'namespace' option to the module

the older community.kubernetes.helm_plugin had this option with 'release_name'

could this be ported to the new collection please?

##### ISSUE TYPE
- Feature enhancement

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
|The older community.kubernetes.helm_plugin had this option with 'release_name'

Could this be ported to the new collec

[2022-02-04 06:12] Akasurde commented on #365
@txynidakis Thanks for reporting this issue. I accidentally removed `release_namespace` or `namespace` via https://github.com/ansible-collections/community.kubernetes/pull/358. I think we need to add it again.

[2022-02-04 12:02] Akasurde commented on #365
@txynidakis Can you please provide the output of `helm plugin list --namespace <NS>` and without namespace? I am not able to list plugins based upon namespace.

[2022-02-04 14:08] mbihoop commented on #39
Race conditions on host where ansible is being executed.

[2022-02-05 14:11] ooraini opened #368 "Helm module replaces dict key 'y' with 'true'"
##### SUMMARY

When using the helm module with values directly in `values`, somehow the dict key 'y' gets transformed to "true". I verified that it's not an Ansible issue by using the debug module. Ansible sees the value as 'y'.

Excerpt from values:
[code]

Running with `-vv`:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
helm

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[2022-02-06 14:57] internetionals commented on #174
The latest release of the helm diff plugin (3.4.1) seems to have the `--repo` option.

[2022-02-06 15:57] rabin-io commented on #351
I will, but at the moment I have a problem in my infrastructure which cussing problem with the nodes boot process, so I can't test this right know. But I will the moment I resolve my boot issue.

Thanks for the quick respond.

[2022-02-07 16:13] ooraini commented on #368
@Akasurde

Playbook:

[code]

Output:
[code]

[2022-02-08 11:59] Akasurde commented on #368
@ooraini Thanks for providing the required playbook. I ran the playbook and was able to reproduce the given error. I think `helm` command is the culprit over here.

[code]
`helm` module just returns the status of this command. You can check code over [here](https://github.com/ansible-collections/kubernetes.core/blob/dde6eb3c0693ea574fd1d1c2a14172ca4fbef58c/plugins/module_utils/helm.py#L83)

[2022-02-08 12:19] Akasurde commented on #368
@ooraini I opened an issue against [helm](https://github.com/helm/helm/issues/10657) repo to track this. We hardly can do anything about this in `helm` module. Thanks,

[2022-02-08 14:25] ooraini commented on #368
Hi @Akasurde

Note that I did try copying the YAML file to the server and using `values_files` and it works.

Also, it's not just `helm get value` returning the wrong output, it's setting the wrong value. The application doesn't start because it can't find the the key `y`.

[2022-02-08 16:12] Akasurde commented on #368
@ooraini I found the intermediate value file created by `helm` module which creates correct value -

[code]

[2022-02-08 20:40] ooraini commented on #368
I just played around with it a bit, Ansible spreads the values of the provisioner over multiple lines(normal):
[code]

If you replace it with a single line and run Helm manually it works:
[code]

Looking at the chart [template](https://github.com/smallstep/helm-charts/blob/master/step-certificates/templates/configmaps.yaml):
[code]

`toPrettyJson` is used to transform the YAML into JSON. In the fi

[2022-02-08 22:27] a01fe opened #374 "kubernetes.core.k8s fails with "failed to patch object" error"
##### SUMMARY

Applying the Kubernetes Dashboard resources at <https://raw.githubusercontent.com/kubernetes/dashboard/v2.5.0/aio/deploy/recommended.yaml> with `kubernetes.core.k8s` results in a "failed to patch object" error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / EN

[2022-02-09 08:48] Akasurde commented on #374
@a01fe Thanks for reporting this issue.

[2022-02-09 13:56] gravesm commented on #374
I'm unable to reproduce this. I tried both with and without `apply: yes`. I also tried running multiple times to make sure there wasn't an idempotency problem. @Akasurde @abikouo can you try?

[2022-02-09 15:28] a01fe commented on #374
I can't reproduce the problem either. After running `kubectl apply -f` it runs okay and reports no change. I've tried removing the dashboard, installing the old version, and rerunning the playbook, but that works too.

I guess I was surprised that `kubectl apply` worked but `kubernetes.core.k8s` didn't.

Thanks for your help1

[2022-02-09 15:28] #374 closed

[2022-02-09 16:31] #202 closed

[2022-02-09 22:02] txynidakis commented on #365
HI @Akasurde
Apologies for the delay, I knew I had work coming up on the playbook that generated the error so waited until the sprint ticket started.

The original play was
[code]

where there was the option  'release_namespace: default'
I just blindly replaced the community name  and renamed the playbook which produced the error.

You are correct in saying helm repo doesn't need a namespace.

So

[2022-02-10 02:17] Akasurde commented on #365
@txynidakis Thanks for the feedback. Do not be sorry. I will go ahead and close this issue as resolved for now. If you feel otherwise, feel free to open a new issue. Thanks,

[2022-02-10 02:17] #365 closed

[2022-02-10 02:41] #351 closed

[2022-02-10 04:19] #358 closed

[2022-02-10 11:11] rabin-io commented on #351
Hi @gravesm , I can confirm that your branch did work, I run 3 deploys, with/o my workaround and none of them failed.

Thanks again.

[2022-02-11 06:14] rayankiy opened #376 "Scaling down of statefulset using kubernetes.core.k8s_scale fails with Resource scaling timed out on ppc64le only."
We have a task to scale down the statefulset by using kubernetes.core.k8s_scale as shown below .

[code]
We see a peculiar behavior on power clusters (ppc64le) where in the above scale down fails with Resource scaling timed out.

[code]

[2022-02-11 09:29] LuckySB opened #377 "helm_info not show release in state pending-install"
##### SUMMARY
my task:

[code]

output
[code]

helm ls -a
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.helm_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

[2022-02-11 10:43] zaqwer101 commented on #319
We have the same problem, chart in `pending-install` status will not be uninstalled, and `kubernetes.core.helm_info` will not show any info about this chart.
Example task:
[code]
Output for chart in `pending-install` status:
`ok: [localhost] => {
    "__helm_release": {
        "changed": false,
        "failed": false
    }
}`

I see that in `get_release_status` function `helm list` command runs

[2022-02-11 11:17] LuckySB commented on #319
issue #377

[2022-02-11 12:40] ooraini commented on #368
The problem is in the library `go-yaml` which helm uses. I will close this.

[2022-02-11 12:40] #368 closed

[2022-02-11 12:46] Akasurde commented on #368
@ooraini Can you refer to a link that tells this as a bug in `go-yaml`?

[2022-02-11 16:32] Akasurde commented on #377
@LuckySB Thanks for reporting this.

[2022-02-12 07:59] akamac commented on #30
@Akasurde @tima it is a different feature. Post-rendering is not limited to kustomize, but rather can call any executable. This is a matter of exposing the `--post-renderer` flag in module args.

[2022-02-12 14:19] Akasurde commented on #30
@akamac Would you be interested in opening a PR with your findings? Thanks in advance.

[2022-02-14 06:44] Akasurde commented on #377
@LuckySB Could you please check if #379 works for you? Thanks.

[2022-02-14 11:02] abikouo opened #380 "k8s_cp module does not support check_mode"
##### SUMMARY
The ``k8s_cp`` module claims to support check mode, but it does not.

##### ISSUE TYPE
- Bug Report

[2022-02-15 09:30] Akasurde opened #383 "k8s_drain: failed in CI run"
##### SUMMARY
k8s_drain is failing in CI due to NameError

https://f9c55ec650c9492e718c-c1727691338be8eb8473988ff3e1bc09.ssl.cf2.rackcdn.com/382/97622ba8c669bb52e79f3d667381f2555f6383a8/check/ansible-test-molecule-kubernetes-core-2.9/7bed423/job-output.txt

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURAT

[2022-02-15 15:40] LuckySB commented on #377
great! its working!

[2022-02-16 07:33] Akasurde commented on #383
resolved_by_pr https://github.com/ansible-collections/kubernetes.core/pull/384

[2022-02-16 07:33] #383 closed

[2022-02-16 10:13] haroonb opened #385 "`kubernetes.core.k8s` fails to apply .yaml with error "Failed to create object: __init__() got multiple values for argument 'self'""
##### SUMMARY

`kubernetes.core.k8s` hat can't successfully apply a yaml
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`kubernetes.core.k8s`
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The module applies the .yaml without error

##### ACTUAL RESULTS

The module

[2022-02-16 13:25] Akasurde commented on #385
@haroonb Thanks for reporting this issue. I am able to reproduce this on machine.

[2022-02-16 14:31] Akasurde commented on #385
You can reproduce this same behavior using this CRD -

[code]

There is `self` in the `spec.properties` which is causing this error.

[2022-02-16 14:37] Akasurde commented on #385
I filed a bug [here](https://github.com/kubernetes-client/python/issues/1715)

[2022-02-16 16:08] mkesper opened #386 "Document using underlying kubectl configuration"
##### SUMMARY

When using e.g. openshift, it's possible to have clients preauthenticated without a kubeconfig.
If trying to use the module without that config file, it will fail with:
"Failed to load kubeconfig due to Invalid kube-config file. No configuration found."

It is possible to use it with an empty dict as "configuration":
[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT N

[2022-02-16 19:05] #243 closed

[2022-02-17 06:42] #377 closed

[2022-02-17 13:12] #244 closed

[2022-02-17 18:53] bipul34 opened #387 "Issue while using this module"
Hi , I am facing issue while trying to use this module for creating k8s objects

**SUMMARY**
kubernetes.core.k8s hat can't create objects

**ISSUE TYPE**
Bug Report

**COMPONENT NAME**
kubernetes.core.k8s

**ANSIBLE VERSION**

[code]

**STEPS TO REPRODUCE**

run below playbook

Playbook :
[code]

**EXPECTED RESULTS**
The module create the object

**ACTUAL RESULTS**

Error with -vvv (trace back)

[

[2022-02-18 07:21] LuckySB commented on #319
I find PR from 2021 year #204

[2022-02-18 07:31] LuckySB commented on #319
@Akasurde Why did you close the #381 ?

I think to solve the problem https://github.com/ansible-collections/kubernetes.core/pull/204#issuecomment-916193486
it is enough to check the status of the release, and if it is `uninstalled`, then just do nothing

[2022-02-21 17:17] asmacdo commented on #387
@bipul34 thanks for filing the issue.

Could you please send us the version of your kubernetes.core collection?

[2022-02-21 17:22] asmacdo commented on #386
Where is the connection with the preauthenticated client configured?

[2022-02-21 17:25] gravesm commented on #385
Going to close this since this is a bug in the underlying kubernetes client.

[2022-02-21 17:25] #385 closed

[2022-02-21 17:25] asmacdo commented on #376
Does scaling down work with kubectl?

[2022-02-22 10:19] Akasurde commented on #387
@bipul34 Thanks for reporting this issue. You are using Python 2 which is EOL. Also, this collection requires [Python 3.6+](https://github.com/ansible-collections/kubernetes.core#python-support). Please update/upgrade your Python and re-try. Thanks.

[2022-02-22 10:19] #387 closed

[2022-02-22 12:01] #237 closed

[2022-02-22 15:52] #174 closed

[2022-02-23 13:36] haroonb commented on #203
Hello @abikouo,

I'm sorry for the incredible late reply. I have some more information regarding this issue. I'm however unsure if I should open a new issue for this, since my setup has significantly changed in the meantime ( latest ansible )

##### SUMMARY

`kubernetes.core.k8s_scale` fails to scale statefulsets down. Scaling up works.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`kuberne

[2022-02-23 14:47] gravesm commented on #203
@haroonb Thanks for the extra information. I'm able to reproduce this. Deployments work fine, but the wait logic for statefulsets has some incorrect assumptions.

[2022-02-25 19:07] ddl-mmercer opened #394 "helm module should support --reuse-values and allow for update values"
##### SUMMARY
Helm has the option to reuse the values used in a deployment, without having to reassign everything.  This allows for a more iterative approach when changing only certain values, as you replace the ones you want, and keep the rest.  The helm module should support this approach as well

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
helm

##### ADDITIONAL INFORMATION
In the cas

[2022-02-28 09:32] DmitryZakharov commented on #33
according to the documentation it does wait:
**--wait                 if set, will wait until all the resources are deleted before returning. It will wait for as long as --timeout**

resource: https://helm.sh/docs/helm/helm_uninstall/

is the feature planned to be present on any upcoming release ?

thanks in advance.

[2022-02-28 09:37] Akasurde commented on #33
@DmitryZakharov We are waiting for the 2.3.0 release of kubernetes.core collection (which is happening soon). This feature requires helm>=3.7.0. Added in version 2.3.0.

cc @tima @gravesm

[2022-03-02 08:15] krisek opened #395 "helm diff output"
##### SUMMARY
The Kubernetes returns with `--check --diff` CLI parameters, the actual diff that would be applied on the cluster. It would be great if the helm module would do the same.

##### ISSUE TYPE
- Feature

##### COMPONENT NAME
helm.py

##### ADDITIONAL INFORMATION
It would be a great enhancement for CI/CD pipelines.

[code]

[code]

[2022-03-02 10:12] abikouo commented on #361
Integration testing using ansible-test is now available with #392 and https://github.com/ansible/ansible-zuul-jobs/pull/1363
Tests have been updated to reduce the running time.

[2022-03-02 11:33] profhase opened #396 "template parameter on `k8s` module fails with exception"
##### SUMMARY
When using template parameter
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT
ubuntu 20.04

##### STEPS TO REPRODUCE

[code]

While t**he following works**:

[code]

[2022-03-02 14:58] abikouo commented on #396
Hi @profhase

Thanks for taking the time to report the issue.
I couldn't reproduce the issue using

[code]

with

play.yaml
[code]

namespace.yml.j2

[code]

could you please rerun your playbook using ``-vvv`` and also provide the content of ``my_config.yml.j2`` ?

Thanks

[2022-03-02 15:00] abikouo commented on #395
Hi @krisek

Thanks for taking the time to report this feature. ``helm`` module does not support the ``diff`` mode for now, but this is a feature we may need to address later.

[2022-03-02 16:04] krisek commented on #395
Yes, without helm diff it is definitely a mission impossible. The background is that I'm working on a dry-run CI/CD pipeline. I have a little issue with adding repos with `--check` enabled as well, but I need to investigate more, maybe I can solve without requiring a new features :)

[2022-03-03 09:19] profhase commented on #396
Hi thank you for the quick answer:

--- yaml

apiVersion: v1
kind: ConfigMap
metadata:
  name: my-config
  namespace: default
data:
  test.yaml: |
    my:
      app:
        registration: false
[code]

[code]

[2022-03-03 10:13] abikouo commented on #396
I was not able to reproduce using your definition, based on the backtrace this may be related to your Kubernetes python client version, could you please run ``pip freeze | grep kubernetes`` ? Thanks

[2022-03-03 10:24] profhase commented on #396
Hi, sure :)

[code]

[2022-03-03 10:29] profhase commented on #396
@abikouo

I do not understand what you mean

[2022-03-03 10:36] abikouo commented on #396
Sorry I was not cleared. I meant the issue may not be related to ``Kubernetes`` python client version.
The  issue is located here

https://github.com/ansible-collections/kubernetes.core/blob/0d9c4d3459cfba655c0dbbdb3d22a5cb5def7f21/plugins/module_utils/common.py#L635

The module is checking if the resource already exists and to do so it used the Kubernetes client and it seems that there is a missi

[2022-03-03 10:38] Akasurde commented on #396
I can reproduce on `2.2.3` branch, not on the latest devel.

[2022-03-03 11:31] profhase commented on #396
@abikouo If I am not mistaken, both possibilities

[code]

are equivalent. Would it be suitable just to drop the `template` option, if it just increases complexity?

[2022-03-03 11:36] Akasurde commented on #396
I agree with what you are saying, we added those to cater to different requirements. So I don't think we can drop `template`.

[2022-03-04 08:14] Akasurde commented on #396
I can reproduce only if the `template` file is empty. Otherwise, I get correct results.

[2022-03-08 07:41] kagehisa opened #400 "k8s_drain delete option 'delete_emptydir_data' not available"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes.core.k8s_drain

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

SUSE Linux Enterprise 15 SP3

##### STEPS TO REPRODUCE

- Use the latest kubernetes core collection ( according to [this](https://galaxy.ansible.com/kubernetes/core), it is 2.2.3 )
- drai

[2022-03-08 09:19] Akasurde commented on #400
@kagehisa Thanks for reporting this issue. The `delete_emptydir_data` will be released kubernetes.core 2.3.0 release. The documentation link provided is for the latest devel branch (which will be cut to 2.3.0 once it is released). So you will have to wait for 2.3.0 release to get this feature. Thanks.

[2022-03-08 14:29] gravesm commented on #400
I'm going to go ahead and close this issue as it is resolved by #322 in the upcoming release.

[2022-03-08 14:29] #400 closed

[2022-03-08 14:39] gravesm commented on #376
@rayankiy Could you try #391 and see if that fixes your problem? I'm not sure why it would only fail on ppc64le as you mentioned, but we did fix a bug in k8s_scale when scaling down to 0 replicas.

[2022-03-09 05:47] rayankiy commented on #376
@asmacdo @gravesm :  Recently I observed the behaviour on x86 also .  So it is not ppc specific .

As suggested above should I go with below playbook changes in my case to overcome the timeout error ?

[code]

[2022-03-09 14:40] gravesm commented on #376
I think you are probably experiencing the bug that #391 fixes. Increasing the wait timeout won't help. If you need a workaround until that fix is released you can try something like:
[code]

[2022-03-10 12:35] rayankiy commented on #376
@gravesm: I tried the above code changes for statefulset and it works , but when I try the same for deployment it is failing with error.

[code]

[code]

   `'dict object' has no attribute 'replicas'`

[2022-03-11 05:00] rayankiy commented on #376
@gravesm : Thank You. Work around suggested works . Please keep me posted which version of kubernetes.core fix will be delivered .

[2022-03-11 06:32] houshym commented on #351
Hi
I have the same error. I did not get a resolution for this issue. when I ran it from my macOS it works but for my colleague's macOS. just I have ansible [core 2.12.1] and another workstation is 2.12.2
ansible [core 2.12.2]

  config file = None

  configured module search path = ['/Users/myuser/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']

  ansible python module location =

[2022-03-11 09:58] abikouo commented on #361
collection migrated to ``ansible-test``, closing this for now

[2022-03-11 13:32] rabin-io commented on #351
@houshym did you try removing the temp/cache files and try again ?

    sudo  find /tmp -maxdepth 1 -name "k8srcp*" -ls -delete

[2022-03-11 14:02] krisek opened #401 "helm upgrade --install for failed releases"
##### SUMMARY
I have a release in failed state on my cluster, the module doesn't try to upgrade/install it, I need to assert the result of the module and resolve the issue myself. Maybe it would be useful to have an option to trigger upgrade/install for failed status releases.

##### ISSUE TYPE
- Bug Report / Enhancement

##### COMPONENT NAME
kubernetes.core.helm

[2022-03-11 14:40] gravesm commented on #401
The helm module already should be able to upgrade a release in failed state. Could you provide a playbook to reproduce your problem, the output of running that playbook, and version information for python, ansible and the kubernetes.core collection?

[2022-03-11 14:45] krisek commented on #401
I'm just checking, it looks like I'm using an outdated version 😳

[2022-03-11 15:33] krisek commented on #401
I messed up a bit, since added a patch to my helm.py (BTW it was kubernetes.core 2.2.3 from ansible-galaxy) that triggered update/install on the failed release.

🤔 and now I don't really know how to reproduce a failed release

But if I look at the latest helm.py in the repo, I don't see this case covered, to me it looks like that this patch

[code]

(or something similar) makes sense. But maybe I

[2022-03-11 16:12] tardis4500 opened #402 "k8s_cp failing with an internal syntax error"
##### SUMMARY
k8s_cp failing with an internal syntax error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_cp

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed returns nothing

##### OS / ENVIRONMENT
Target OS /etc/os-release
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The desired file should be copie

[2022-03-11 16:28] gravesm commented on #402
The traceback appears to show you are running python 2.7 on the remote node. kubernetes.core 2+ does not support python 2.7. Could you ensure you are running a supported version of python and see if that fixes the problem?

[2022-03-11 16:43] tardis4500 commented on #402
That appears to be the problem. CentOS 7 has Python 2.7 installed as part of the OS and Ansible uses that by default. Using yum to install python3 and setting the host inventory variable "ansible_python_interpreter: /usr/bin/python3" resolves the issue.

[2022-03-11 16:43] #402 closed

[2022-03-15 01:53] sugitk opened #407 "k8s_info causes an unavoidable error when the API cannot accept the connection"
##### SUMMARY
k8s_info causes an unavoidable error when the API cannot accept the connection

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_info

##### ANSIBLE VERSION

##### COLLECTION VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

1. define a task in a playbook

[code]

2. run the above playbook periodically during the upgrading the OCP cluster

[2022-03-16 10:11] abikouo commented on #407
@sugitk Thanks for raising this issue, could you please test using this PR #408 ?
Regards

[2022-03-16 10:47] sugitk commented on #407
@abikouo Thank you very much, I will try it tomorrow

[2022-03-17 21:55] dyipon opened #411 "Cannot patch the default kubecontrollersconfiguration"
##### SUMMARY
Cannot patch the default kubecontrollersconfiguration

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.k8s_json_patch

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
debian bullseye

##### STEPS TO REPRODUCE

trying to use as ansible task this command:
[code]

[code]

##### EXPECTED RESULTS

###

[2022-03-17 22:08] dyipon commented on #411
i just realized the typo in the docs: https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_json_patch_module.html

[code]

this should be **path**

[2022-03-19 18:20] erikgb opened #412 "[WARNING]: Module did not set no_log for pass_credentials"
##### SUMMARY
It seems like Ansible emits this warning based on the name `pass_credentials` within the `kubernetes.core.helm_repository` module. We don't use credentials, and would prefer not to add `no_log` to our tasks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`kubernetes.core.helm_repository`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[co

[2022-03-19 18:28] erikgb opened #413 "[DEPRECATION WARNING]: The 'return_code' return key is deprecated. Please use 'rc' instead."
##### SUMMARY
It seems like this deprecation warning is emitted - even if all usage is migrated to `rc`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`kubernetes.core.k8s_exec`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian-flavoured container image from based on official python image.

##### STEPS TO REPRODUCE

[2022-03-21 06:17] Akasurde commented on #412
@erikgb Thanks for reporting this issue. The warning presented here is emitted by Ansible Core Engine and not by `kubernetes.core` collection and also there is no way to disable this warning from the collection side.

So I would recommend you open a RFE against [`ansible/ansible`](https://github.com/ansible/ansible/issues) to disable or provide a module-level parameter setting to disable this.

Th

[2022-03-21 06:32] Akasurde commented on #413
@erikgb Thanks for reporting this issue. Due to Ansible Core engine changes, we moved from `return_code` to `rc`. We need to provide deprecation warnings to the user as per Ansible Development Guidelines. You may want to disable this warning by using `deprecation_warnings=False` in ansible.cfg. Apart from that, I do not have any other solution on top of my head right now.

@tima @gravesm @abikouo

[2022-03-21 08:52] Andersson007 opened #414 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-03-21 12:33] Akasurde commented on #414
@Andersson007 Thanks for the update.

[2022-03-21 15:17] gravesm commented on #412
@Akasurde We can just add `no_log=False` to the arg spec for `pass_credentials`. Since the parameter itself doesn't contain any credentials, this should be fine.

[2022-03-21 15:24] gravesm commented on #413
We have no way to know what fields of the return value are used, or even if the return value is used at all. This is a limitation of Ansible and there's not much we can do about this. As a general rule, we issue warnings for any breaking changes for a period of time before the breaking change is made.

[2022-03-21 17:40] #413 closed

[2022-03-21 17:58] gravesm commented on #412
Yes, the warning is emitted only because the param name has "credentials" in it. Setting `no_log=False` just removes the warning. It will still be logged. Some quick testing locally shows that `no_log` does not even seem to apply to boolean parameters. You can set it to true or false and the value is logged the same either way.

[2022-03-21 18:20] erikgb commented on #412
That sounds like a bug somewhere in ansible-core? Or is there a rationale behind this strange behavior?

[2022-03-21 18:28] gravesm commented on #412
I can't speak to the rationale behind it, but this case is covered in the documentation at https://docs.ansible.com/ansible/latest/dev_guide/developing_program_flow_modules.html#argument-spec under the `no_log` parameter.

[2022-03-21 18:41] erikgb commented on #413
Here is a suggestion, but it might need some adjustments since I am not native in English. 😅

[code]

I also found this feature idea, that could have mended this: https://github.com/ansible/ansible/issues/49900.

[2022-03-22 11:56] haroonb opened #415 "k8s_scale possibility to scale in parallel"
##### SUMMARY

scaling over multiple items could be done in parallel
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

k8s_scale
##### ADDITIONAL INFORMATION

This feature could be used, when there is a large number of Deployments/Statefulsets or in this case results, that can/need to be scaled up in parallel, because of dependecies/HealthChecks in conjuntion with `wait: yes` to confirm a pro

[2022-03-22 12:52] bpedersen2 opened #416 "Using k8s_drain with disable=yes results in error"
##### SUMMARY
Run k8s_drain with disable_eviction set to yes gives:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes.core.k8s_drain

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### OS / ENVIRONMENT
ubuntu 20.04, rancher-based cluster with k3s v1.21.8+k3s2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Successful draining of node (draining fro

[2022-03-22 12:59] Akasurde commented on #416
@bpedersen2 Thanks for reporting this issue. Could you please mention the Python Kubernetes-Client version?

[2022-03-22 14:59] tima opened #417 "Clarify `return_code` deprecation warning"
##### SUMMARY

As reported in #413, the deprecation warning emitted regarding the eventual removal of the `return_code` in favor of `rc` could be clearer to avoid confusion.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- `kubernetes.core.k8s_exec`

##### ADDITIONAL INFORMATION

Here is a suggested rewording based on [a comment](https://github.com/ansible-collections/kubernetes.core/issu

[2022-03-23 09:26] #416 closed

[2022-03-23 14:14] #417 closed

[2022-03-23 14:54] haroonb opened #420 "helm doesnt update repo before install"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target os is ubuntu 20.04

##### STEPS TO REPRODUCE

You can repoduce this with the following steps:
* add a repository
* wait until a new chart is released
* use the `kubernetes.core.helm` module to update the rep

[2022-03-24 08:18] haroonb commented on #420
I looked further into the issue and I was able to resolve it, by removing the `chart_repo_url: https://charts.bitnami.com/bitnami` from the task. I don't know, if this intended behavior or a bug, please close this if this is intended.

The updated task looks like
[code]

[2022-03-24 12:12] gravesm commented on #420
@haroonb The problem is because you are using a repository name in your chart ref along with the repo url. When you specify a repo url you are specifically bypassing your local repository cache. You are asking it to look for a chart literally named `bitnami/mongodb`, but the chart is named `mongodb`. You would run into the same problem using helm directly, as you can see here:
[code]

I don't thin

[2022-03-25 12:04] haroonb opened #421 "`k8s_cp` inconsistent behavior with parameter `local_path`"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

You can repoduce this with the following steps:
* copy  `from_pod` to `local_path`
* copy  `to_pod` from same `local_path`

[code]

##### EXPECTED RESULTS

I expected the module to use the

[2022-03-25 13:49] abikouo commented on #421
@haroonb Thanks for submitting this issue.
Your playbook delegates task to your host ``devops-m1``, while trying to copy ``to_pod`` the action plugin find the file on the local file system (extract from documentation ``Action plugins let you integrate local processing and local data with module functionality.`` https://docs.ansible.com/ansible/latest/dev_guide/developing_plugins.html), this is why

[2022-03-25 15:42] abikouo commented on #421
@haroonb could you please test using the PR #422 ? Thanks

[2022-03-28 06:47] haroonb commented on #421
Hello @abikouo, I made the change in my local collection and can confirm, that it works.

[2022-03-28 10:55] abikouo commented on #421
Thanks for the feedback!!

[2022-03-29 13:56] tima commented on #33
@DmitryZakharov: 2.30 was released a couple of weeks ago.

- https://github.com/ansible-collections/kubernetes.core/releases/tag/2.3.0
- https://console.redhat.com/ansible/automation-hub/repo/published/kubernetes/core
- https://galaxy.ansible.com/kubernetes/core

Let us know if you have any feedback once you can try it out.

[2022-03-30 13:46] Akasurde commented on #411
resolved_by_pr #425

[2022-03-30 17:09] #412 closed

[2022-03-30 17:47] rekup opened #426 "diff when running `kubernetes.core.k8s` in check mode"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.k8s

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

- create kubernetes cluster: `minikube start --kubernetes-version=v1.22.8`
- run the following playbook (`ansible-playbook play.yml --diff`)

[code]
- run the same play

[2022-03-30 19:20] gravesm commented on #426
@rekup This is the result of default fields. You have a few options here. If you use `apply: yes`, this should work correctly in the vast majority of cases. Your best option will be to upgrade to kubernetes.core 2.3.0 and ensure you are using a python kubernetes library version >= 18.20.0. This will use server-side dry run by default. You can also use the new `server_side_apply` parameter. Using b

[2022-03-31 06:04] rekup commented on #426
Thanks for the fast response @gravesm!
I can confirm that the issue is fixed in kubernetes.core 2.3.0 (using python kubernetes 22.6.0)

[2022-03-31 06:04] #426 closed

[2022-03-31 18:55] #30 closed

[2022-04-01 00:59] #411 closed

[2022-04-03 07:49] bastienbosser opened #428 "kubernetes.core.k8s: Service None: Failed to delete object"
##### SUMMARY

It is impossible to remove a service via a label_selectors with the kubernetes.core.k8s module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes.core.k8s

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 8.5 / Kubernetes 1.21.4

##### STEPS TO REPRODUCE

Deploy this service on your cluster
[code

[2022-04-04 06:46] Akasurde commented on #428
@bastienbosser Thanks for reporting this issue. I am not able to reproduce this error on my end. Are you sure you have the correct permission to delete the object?

[2022-04-04 08:10] #421 closed

[2022-04-05 09:48] bastienbosser commented on #428
@Akasurde Thanks for your answer. I run the task with administrator rights on a master node of the kubernetes cluster. And when I execute an equivalent command ```kubectl delete service -n regionadmin -l app=registry```, it works correctly. So I'm not able to see what my privilege issues might be. If you have any idea, let me know.

[2022-04-05 12:56] jbuamw opened #429 "kubernetes.core.helm supports OCI repositories"
##### SUMMARY
Hi Everyone,
have you consider to support helm charts deployment from OCI-based registries by kubernetes.core.helm component?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
kubernetes.core.helm

[2022-04-06 12:03] haroonb commented on #394
I would also welcome this feature, since a very handy feature of helm.

[2022-04-10 23:27] sugitk commented on #407
@gravesm @abikouo

Hi, do you have a plan for a new release that this PR is merged?
The customer is waiting for the fix in some weeks and I have to explain to him about the current situation as an Ansible technical support.

Thank you.

[2022-04-11 07:35] rabin-io opened #431 "k8s is not respecting the "omit" option"
##### SUMMARY

When deploying a CR from a template which contain an `omit` option, the place holder is not removed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes.core.k8s

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

and the template
[code]

output of ansible run
[code]

##

[2022-04-11 12:28] abikouo commented on #431
Hi @rabin-io

Thanks for reporting this issue. It appears that the code does not remove the ``omit`` value if any is found from the resource definition. This fix adds post-processing to do that.
Could you please try and validate on your side?

[2022-04-11 15:49] sachintanna-lab opened #433 "wait_condition on kubernetes.core.k8s_info causing fail_json error"
We are utilizing the kubernetes.core.k8s_info module to confirm the successful installation of the ClusterServiceVersion (Operator) we are installing. However, we are receiving the following error:

[code]
We are **not** receiving this error when using kubernetes.core.k8s.

Our Ansible version is 2.10.8.
Our Python version is 3.9.4.
Our kubernetes.core version is 2.1.1

An example of our implement

[2022-04-12 05:12] Akasurde commented on #433
@sachintanna-lab Thanks for reporting this issue. I will try to reproduce this.

[2022-04-12 07:47] rabin-io commented on #431
Hi @abikouo  thanks for the quick action.

I can confirm with my use case above the fix did work.

Thanks.

[2022-04-12 08:27] Akasurde commented on #433
@sachintanna-lab Can you please provide `-vvv` output and the stacktrace?

[2022-04-12 17:48] #414 closed

[2022-04-13 07:51] Akasurde commented on #428
@bastienbosser I am not sure, @abikouo @gravesm can you please help us here?

[2022-04-13 08:44] abikouo commented on #428
@bastienbosser I can reproduce the issue, I will try to investigate why this is happening

[2022-04-13 11:39] gravesm commented on #433
I'm pretty sure this has been fixed in the 2.3.0 release of kubernetes.core. Can you upgrade and see if this fixes your problem?

[2022-04-13 12:45] abikouo commented on #428
@bastienbosser could you please test using the pull request #434

[2022-04-13 15:13] bastienbosser commented on #428
@abikouo I built and tested your pull request (#434). This one solves the bug. Good job. Thanks

[2022-04-14 05:26] Akasurde commented on #428
resolved_by_pr #434

[2022-04-14 06:15] #431 closed

[2022-04-14 16:02] sachintanna-lab commented on #433
Hello,

We have upgraded to v2.3.0 and re-tested and the error has gone.

Many thanks for your help,

Sachin

[2022-04-14 16:02] #433 closed

[2022-04-18 07:32] faisalchishtii opened #435 "kubeconfig parameter does not work with multiple config files"
##### SUMMARY
K8s module does not work when multiple configs are set up in KUBECONFIG env variable or passed as a parameter to k8s module.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.k8s

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Should create a kubernetes object.

##### ACTUAL RE

[2022-04-20 16:46] jeason81 opened #437 "Previous log support"
##### SUMMARY
The `k8s_log` module is missing support for the `previous` parameter. The `kubectl logs --previous <pod>` command allows for the retrieval of the previously terminated pods logs which is useful in troubleshooting.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
k8s_log

##### ADDITIONAL INFORMATION
I've submitted a pull request that adds support for this parameter. Output and

[2022-04-25 13:37] #428 closed

[2022-04-26 11:54] #191 closed

[2022-04-28 10:46] abikouo commented on #437
fixes by #436

[2022-04-28 10:46] #437 closed

[2022-04-29 13:43] #313 closed

[2022-05-01 18:07] robinelvin commented on #315
I am having the same issue:

Part of my playbook:
[code]

Relevant output:

[code]

Then on the machine:

[code]

Manually adding via the `helm` command works.

[2022-05-02 11:18] jakrol opened #447 "k8s_info module fails with TypeError: 'ResourceField' has no length"
##### SUMMARY
k8s_info module fails with  TypeError: 'ResourceField' has no length. Tested with different resource kinds.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_info

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Controller:
[code]
Target host:
[code]

[code]

[code]

##### STEPS TO REPRODUCE

[code]

##### EXP

[2022-05-04 09:57] vladuhul opened #449 "k8s module issue when creating a LimitRange for openshift.io/Image & openshift.io/ImageStream in Openshift 4.10"
SUMMARY

 Message:
 'openshift.io/Image' is not one of ['Container', 'PersistentVolumeClaim', 'Pod']"
 Openshift documentation: https://docs.openshift.com/container-platform/4.7/nodes/clusters/nodes-cluster-limit-ranges.html
Normally it creates the LimitRange without a problem but for 4.10 this is not happening.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s core module creating a LimitR

[2022-05-04 13:19] Aohzan opened #450 "The kubernetes Python library missing with V1Eviction API"
##### SUMMARY

Hello,

I try to use `kubernetes.core.k8s_drain`:
[code]
but I got this error:
`"error": "No module named 'kubernetes'", "msg": "The kubernetes Python library missing with V1Eviction API"}`

I tried with multiple version of kubernetes pip package (last and 12.0.1):
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[co

[2022-05-04 14:34] interone-ms opened #451 "Support kubectl apply from URL"
##### SUMMARY

It should be possible to specify a manifest URL in the `kubernetes.core.k8s` module that gets passed on to `kubectl apply -f <URL>` under the hood.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
kubernetes.core.k8s

##### ADDITIONAL INFORMATION

Due to firewall issues or nasty HTTPS-breaking sniffing software (e.g. Netskope) on an administrator's laptop, it may be desirable

[2022-05-06 07:14] vladuhul commented on #449
@gravesm Thank you for replying.
Yaml file in question:
[code]
Regarding the kubernetes.core, can you please offer me more details? Are you reffering to the kubernetes version shown in the requirements sections here?
https://docs.ansible.com/ansible/latest/collections/kubernetes/core/k8s_info_module.html#ansible-collections-kubernetes-core-k8s-info-module

![image](https://user-images.githubuserco

[2022-05-06 08:11] vladuhul commented on #449
@gravesm Thank you for taking the time to respond.
Yaml in question:
[code]

kubernetes.core version = 23.3.0

[2022-05-06 14:00] dmsimard opened #453 "Sanity tests failing in kubernetes.core"
##### SUMMARY
We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against kubernetes.core 2.2.3 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### ANSIB

[2022-05-08 16:58] a01fe opened #454 "Add delete_options.pod_selector parameter"
##### SUMMARY
Add `pod_selector` to `delete_options` to filter pods to evict or delete.
This should replicate the behavior of `kubectl drain --pod-selector`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
k8s_drain

##### ADDITIONAL INFORMATION
This would make it easier to drain nodes when some pods should not be evicted.

[code]

[2022-05-09 09:50] Aohzan commented on #450
The problem came from the environment, there was multiple python version accessible from Ansible, which didn't use the same each time...

[2022-05-09 09:50] #450 closed

[2022-05-09 12:51] gravesm commented on #449
I am not able to reproduce this using the following playbook:

[code]
openshift 4.10.9
kubernetes.core 2.3.1
kubernetes 23.3.0
ansible 2.12.5

[2022-05-09 16:09] vladuhul commented on #449
@gravesm Some remarks are in order to understand the big picture.

I have an ansible role which is triggered in a playbook. The ansible role creates the object by referring to the template I posted above. I also tried to use j2 template -  same error.

[code]

kubernetes 23.3.0
ansible.core 2.11.11

How do i find out the kubernetes.core version?

[2022-05-11 15:10] gravesm commented on #447
@jakrol I have tried and am unable to reproduce this problem. I also looked through the code involved for anything obvious, and nothing sticks out. We would need some way to reproduce this before we can fix it.

[2022-05-13 14:59] olahouze opened #461 "Cannot be used with EKS"
##### SUMMARY
I can't use the module to administer AWS EKS clusters

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.k8s_exec

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
**ansible-galaxy collection list don'work on my computer**
I had collections :
- kubernetes_core
- community_kubernetes
[code]

##### CONFIGURATION
No result to commande : **ansible-config dump --on

[2022-05-14 00:37] dmsimard commented on #453
I've reran the tests against the same release but by installing with ``ansible-galaxy collection install`` instead of the release tarball and this time the issues are different:
[code]

[2022-05-16 05:30] felixfontein opened #462 "[IMPORTANT] Missing PSF-license.txt file"
##### SUMMARY
plugins/module_utils/_version.py mentions licenses/PSF-license.txt, which doesn't exist yet.

Please also add that file (from https://github.com/ansible/ansible/blob/devel/licenses/PSF-license.txt) to all branches that contain plugins/module_utils/_version.py and create new releases ASAP. Thanks!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/module_utils/_version.py
PS

[2022-05-16 06:03] felixfontein commented on #462
As pointed out in https://github.com/ansible-collections/community.general/pull/4675#issuecomment-1127245658 by @gotmax23, ansible-core includes an older version of the license file. It's better to pull the updated license from https://github.com/python/cpython/blob/v3.9.5/LICENSE (which contains multiple other licenses as well that can be stripped).

[2022-05-16 16:19] #462 closed

[2022-05-18 12:46] gravesm commented on #461
@olahouze Are you able to successfully use kubectl to run the command using the same kubeconfig?

[2022-05-18 15:42] gravesm commented on #449
You can get the kubernetes.core version with `ansible-galaxy collection list kubernetes.core`

[2022-05-19 13:15] vladuhul commented on #449
@gravesm kubernetes.core 1.2.1

[2022-05-23 11:10] anupchandak opened #467 "Helm module not inserting finalizer annotations to the resources"
##### SUMMARY
If I use `kubernetes.core.helm` to create my resource in my ansible operator, I observe that it does not add `operator-sdk/primary-resource` or `operator-sdk/primary-resource-type` annotation to the created resources. I also don't see `ownerReferences` being injected when the namespace of CR and generated resources are identical.
I have `finalizer` defined in my `watches.yaml` that a

[2022-05-23 14:56] gravesm commented on #449
I am still unable to reproduce this using kubernetes.core 1.2.1. Is there any way you could post the output with extra verbosity enabled (`-vvvv`) ?

[2022-05-25 14:25] el-pako opened #469 "k8s_json_patch typo in example"
##### SUMMARY
According to RFC 6902 JSON (https://datatracker.ietf.org/doc/html/rfc6902#section-4.3)

[code]

should be

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
k8s_json_patch

##### ANSIBLE VERSION
latest

[2022-05-31 14:37] vonera opened #470 "Apply as root: "Failed to load kubeconfig due to Invalid kube-config file. No configuration found.""
##### SUMMARY

`apply` on a resource owned by root (using `become: true`) results in `Failed to load kubeconfig due to Invalid kube-config file. No configuration found.`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

kubernetes.core.k8s

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target OS  Ubuntu 20.04

##### STEPS T

[2022-05-31 16:08] gravesm commented on #470
@vonera The problem is that the underlying kubernetes python library is looking for the default kubeconfig file at `~/.kube/config`. When you use `become` that expands to `/root/.kube/config`. I'm not sure why `sudo kubectl` is working for you. It fails for me because of the kube config location. Your options are to either not use `become` on the k8s task like you posted in your workaround, or to

[2022-05-31 16:10] gravesm commented on #469
Closing as this has already been addressed.

[2022-05-31 17:19] vonera commented on #470
@gravesm Thank you for the quick response.
the working `sudo kubectl`  in my case might be caused by one of the facts
- it is k3s
- it is installed using the `xanmanning.k3s` role

[2022-05-31 17:19] #470 closed

[2022-06-05 16:08] jayunit100 opened #471 "support windows nodes"
##### SUMMARY

The https://github.com/kubernetes-sigs/sig-windows-dev-tools project seems to be essentially maintaining a parallel kubernetes minimal installer which would benefit from ansible style semantics.

##### ISSUE TYPE
- We probably should join forces and add a windows node option to these recipes, if possible, and then we can reduce the footprint of sig-windows-dev-tools/ to a repo that

[2022-06-06 17:59] gravesm commented on #467
@anupchandak We do not specifically manage annotations for the operator sdk. Could you refile this bug against the operator-sdk repo?

[2022-06-06 18:57] nwsparks commented on #412
I'm still getting this on 2.3.1, was this released?

[2022-06-08 17:33] impsik opened #474 "k8s_drain "Failed to delete pod" "Too many requests""
##### SUMMARY
I try to drain kubernetes nodes, do some patching and uncordon those nodes, but sometimes it fails with
`"msg": "Failed to delete pod POD NAME HERE due to: Too Many Requests"`
It's usually Longhorn POD.
And it's empty cluster (1etcd/CP, 3 worker nodes), for testing only.
When i drain manually it will take up to 2min to drain that node.
[code]

##### ISSUE TYPE
- Bug Report

##### COM

[2022-06-15 14:26] tardis4500 opened #479 "k8s_log module traceback when no resource found"
##### SUMMARY
When no pod is found, the k8s_log module fails with a Python traceback from the module rather than some kind of "resource not found' error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_log

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
You will need an appropriate values.ym

[2022-06-16 14:52] edgan opened #480 "kubernetes.core.helm_repository to be stateful"
##### SUMMARY
kubernetes.core.helm_repository, or a new function, should be stateful, as in `state: present`. Currently it installs a repository, but can't verify if it is already installed. If it is already installed it will just throw an error saying it is already installed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
kubernetes.core.helm_repository

##### ADDITIONAL INFORMATION
Worka

[2022-06-16 18:14] gravesm commented on #480
@edgan The module already supports this:

[code]
[code]

Could you provide more information about what version of the collection and what version of ansible you are using? Also, could you provide the output from running the playbook using `-vvv`?

[2022-06-20 11:57] Alffernandez opened #482 "ModuleNotFoundError: No module named 'openshift.watch' - k8s_scale"
##### SUMMARY
After upgrading to Rhel8, the Ansible module 'k8s_scale' stopped working:
[code]
The Python3 module openshift.watch is completely missing
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubernetes.core.k8s_scale

##### ANSIBLE VERSION

ansible 2.9.27-1

##### COLLECTION VERSION

python3-kubernetes.noarch 12.0.1-1.el8
python3-openshift.noarch 1:0.12.1-1.el8

##### OS / ENVI

[2022-06-21 13:23] gravesm commented on #482
@Alffernandez You are using a very old version of the kubernetes.core collection. It looks like `openshift.watch` was removed from the openshift package in version 0.9. Can you try upgrading to a more recent version of the collection?

[2022-06-24 18:01] rgl opened #483 "simplify the helm repo update scenario"
##### SUMMARY

Currently its quite awkward to update the helm repo cache. The [documented way](https://docs.ansible.com/ansible/latest/collections/kubernetes/core/helm_module.html#examples) seems rather complex:

[code]

Since there is already a `helm_repository` module, why not make it also update the cache like the `apt` module?

For example, by adding `update_cache` and `cache_valid_time`:

[co

[2022-06-27 13:55] gravesm commented on #483
Thanks for the suggestion @rgl. I agree it should be possible to update the repo cache from the helm_repository module.

[2022-06-27 15:27] gravesm commented on #474
@impsik Thanks for filing the issue. The eviction API can sometimes return a 429 Too Many Requests status, especially if the eviction would violate the pod disruption budget. It's unclear if that's what is going on in your case or not. We should be retrying 429 responses here, and we aren't. As a workaround until this is fixed, you could try using Ansible's [built-in retry logic](https://docs.ansi

[2022-06-27 15:39] gravesm commented on #479
Thanks for filing the issue @tardis4500.

[2022-06-28 08:19] impsik commented on #474
@gravesm My setup was (i blew it up):
3 etcd/cp nodes, 3 worker nodes. SSD disks.
[code]
I installed Longhorn, 3 replicas, trough Rancher apps.
I installed Wordpress for testing [LINK](https://bitnami.com/stack/wordpress/helm) and this created 2 PVC, one for SQL, one for wordpress.
From the Longhorn docs i found that i also need to use ```--pod-selector='app!=csi-attacher,app!=csi-provisioner'```

[2022-07-04 15:40] jack1902 opened #484 "ability to run helm deployments in parallel"
##### SUMMARY

It would be great to have the ability to run numerous helm-deployments in parallel via ansible using the `async` features so that multiple tasks could be kicked off in parallel and then have a separate task to check on their status later on. Currently trying to do this results in `async is not supported for this task`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`kubernet

[2022-07-04 18:05] olahouze commented on #461
Yes no probleme with kubctl and same file kubeconfig

[2022-07-07 23:07] meihui opened #485 "k8s_cp doc issue"
##### SUMMARY

Last example for the k8s_cp is with typo

[code]
The state shall be from_pod and content field shall be removed.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

[2022-07-08 13:12] samene opened #486 "k8s_cp state=from_pod requires 'find' binary to be present on the remote pod"
##### SUMMARY
Using the k8s_cp module with state=from_pod requires the `find` command to be present on the remote pod. With newer base docker images like openjdk:17 there is no find command on them. This requirement is also not stated in the documentation.

The code in `plugins/module_utils/copy.py` uses `find` to list files if the remote path is a folder. However this is not needed if it is a fil

[2022-07-08 19:19] silvermind opened #487 "kubectl top pods Command"
##### SUMMARY

Is it currently possible to run commands like this and collect the value in an ansible variable?

[code]
##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

https://github.com/ansible-collections/kubernetes.core#modules

##### ANSIBLE VERSION

2.12

[2022-07-09 12:59] Akasurde commented on #487
@silvermind Thanks for reporting this issue. You can use `shell` or `command` module to invoke `kubectl` commands. Right now, we do not have any module specifically for `kubectl`.

[2022-07-17 18:49] kurokobo opened #488 "k8s_log: add parameter to limit the number of log lines to be retrieved"
##### SUMMARY

In the current implementation for `k8s_log`, there is no parameter to limit the number of log lines to be retreived.

That parameter is helpful to reduce resource consumption and for easier log handling, as `--tail=n` option for `kubectl`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`kubernetes.core.k8s_log`

##### ADDITIONAL INFORMATION

As a workaround for the current

[2022-07-19 13:20] danielscamacho commented on #318
Here the same error as @rradecki-migo and suggestion from @gravesm unfortunately didn't work.

Infra: AKS instead of EKS.

[2022-07-20 05:32] reitermarkus opened #490 "`kubernetes.core.k8s` silently ignores CRD validation error."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`kubernetes.core.k8s`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 12.4

##### STEPS TO REPRODUCE

Given the file `traefik/tlsstore.yml` with content

[code]

and given Traefik and its CRDs are deployed, run the following task

[code]

##### EXPECTED R

[2022-07-20 14:24] abikouo commented on #490
Thanks, @reitermarkus for raising this issue.
``kubernetes-validate`` python client cannot validate against CRD for now, this has been requested [here](https://github.com/willthames/kubernetes-validate/issues/11), for now, we will just get a warning when running this use case.

[2022-07-21 09:48] gygitlab opened #491 "Add force option to helm_repository"
##### SUMMARY
Sometimes a Helm repo needs to be updated with a new URL. The `helm repo add` command allows for this with the `--force-update` flag:

[code]

Ask is for this option to be available on the Ansible task.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`kubernetes.core.helm_repository`

##### ADDITIONAL INFORMATION

To update an existing repo.

[code]

[2022-07-21 18:29] peterjweir opened #492 "Add non file based kubeconfig option to helm modules in kubernetes.core"
First Time posting an issue here, I believe I tracked down where this was discussed before, and this may just be an oversight, or a difference in how the helm plugins work from the rest of the k8s plugins. Please correct me if I have missed something important.

##### SUMMARY
Apply ability to use non file based kubeconfig to remaining kubernetes core modules to

Per Issue #139 Which was already re

[2022-07-22 17:33] fbladilo opened #494 "k8s module fails on FIPS enabled OpenShift clusters"
##### SUMMARY

Attempting to run k8s in a FIPS enabled OpenShift cluster fails with :

--
An unhandled exception occurred while running the lookup plugin 'k8s'. Error was a <class 'ValueError'>, original message: [digital envelope routines: EVP_DigestInit_ex] disabled for FIPS
--

We are using the k8s module extensively with Operator SDK , currently requirements in Operator SDK are as follows :+1:

[2022-07-23 15:31] karthik-krishnaswamy17 commented on #461
Did this get solved? I too get the same error.

[2022-07-25 06:05] Akasurde commented on #494
@fbladilo Thanks for reporting this issue. Could you please provide the output for `-vvv` so that we can see the full stack trace without which it is difficult to debug the issue?

[2022-07-25 09:56] vertexvaar commented on #396
Got the same error on that same line (the line number changed but the code is the same) with a different task.
k8s core version 2.3.2

Task:
[code]

<details><summary>Ansible error outout</summary>
<pre>
Traceback (most recent call last):
  File \"/home/ubuntu/.ansible/tmp/ansible-tmp-1658741258.3613455-1652-132517230211849/AnsiballZ_k8s.py\", line 107, in <module>
    _ansiballz_main()
  File \"/

[2022-07-25 16:07] abikouo commented on #396
@vertexvaar I found the issue. The module is trying to list all resources using the label, as the ``kind`` parameter is not defined, the ``ResourceList class`` is used to do that and requires the ``body`` parameter to be defined.
I will check if this is possible with the Kubernetes client or reject on Ansible side when the ``kind`` parameter is not defined.

[2022-07-25 19:03] #488 closed

[2022-07-25 20:18] fbladilo commented on #494
@Akasurde I added the ansible debug output as requested to the "actual results" section. I was able to trigger easily with a playbook like this :

[2022-07-28 14:24] #479 closed

[2022-07-28 17:42] gravesm commented on #318
I did some testing on EKS and I am able to successfully create k8s resources using an IRSA and this collection from within a pod. By not specifying the `kubeconfig` it uses incluster config, which is ideally how you would handle this. If for whatever reason you want to use a URL specifically, you can try using `kubernetes.default.svc` instead of `localhost:8080`. You will probably need to specify